// THEME COLORS
$primary: #01796F;
$secondary:#FCAF15;
$tertiary: #F94E26;

// TEXT COLORS
$gray-200: #EDF2F7;
$gray-500: #A0AEC0;
$gray-600: #95a4b9;
$gray-700: #4A5568;
$gray-800: #2D3748;
$black: #000000;
$white: #ffffff;

// BACKGROUND COLORS
$bodyBg: #f7f8f6;
$footerBg: #FFF7E6;
$bg-1: #FFF6E5;
$bg-2: #FFE7E1;
$bg-3: #D9F3F1;
$headerMobileBg: #FEEFEC;
$hoverBg: rgba(64, 87, 109, .07);
$appontmentBg: #F7FAFC;
$characteristicsMobileBg: #FFEBE7;