// THEME COLORS
$primary: #01796F;
$secondary:#FCAF15;
$tertiary: #F94E26;

// TEXT COLORS
$gray-50: #FAFAFA;
$gray-100: #F7FAFC;
$gray-200: #EDF2F7;
$gray-300: #E2E8F0;
$gray-400: #CBD5E0;
$gray-500: #A0AEC0;
$gray-600: #718096;
$gray-700: #4A5568;
$gray-800: #2D3748;
$gray-900: #1A202C;
$black: #000000;
$white: #ffffff;
$yellow: #F2B807;
$textDark: #323232;
$textFaq: #646464;
$textPlaceholder: #B5B5BD;
$providerCardBg: #C4C4C4;
$dateColor: #425466;
$textSubscriptions: #7A828A;
$selectColor: #394157;
$authPlaceholder: #D7D7D7;
$textVerification: #616161;
$verificationTitle: #242424;
$verifyInput: #191B20;
$mobileDropdownBg: #FFFBF2;
$wheelItemBg: #FCEBCA; // ARROWS-COLORS
$arrowColor: #B7DBD1;
$arrowHoverColor: #409E85;
$step-border: #EBEBEB;
$table-border: #C2C9D1;

// BACKGROUND COLORS
$bodyBg: #f7f8f6;
$footerBg: #FFFBF2;
$bg-1: #FFF6E5;
$bg-2: #FFE7E1;
$bg-3: #D9F3F1;
$headerMobileBg: #FEEFEC;
$hoverBg: rgba(64, 87, 109, .07);
$appontmentBg: #F7FAFC;
$characteristicsMobileBg: #FFEBE7;
$activeBg: #18BD78;
$clientBg: #F1F1F1;
$serviceCardBg: #E6E6E6;
$conversationBg: rgba(249, 78, 38, 0.1);
$cardCapBg: #E6E6E6;
$scrollBarBg: #F2EADA;
$bulletBg: rgba(1, 121, 111, 0.5);
$futureThumbBg: #F5F5F5;
$socialIconBg: rgba(157, 157, 157, 0.04);
$archiveHoverBg: #EDF2F7;
$checkBorder: #C9CED6;
$badgeBg: #BFFFE4;

// BORDER COLORS
$faqBorder: #969696;

$achieveHoverBg: radial-gradient(39.74% 39.74% at 50% 50%, $black 48.92%, rgba($black, 0) 100%);
$overlayBg: linear-gradient(180deg, rgba($black, 0) 43.06%, $black 95.65%);
$profileSidebarBg: linear-gradient(268.05deg, $white -73.52%, rgba($white, 0) 148.76%);

$shadow-1: rgba(12, 26, 75, 0.1);
$shadow-2: rgba(20, 37, 63, 0.06);

$shadow-3: rgba(50, 50, 71, 0.08);
$shadow-4: rgba(50, 50, 71, 0.2);

$shadow-5: rgba(12, 26, 75, 0.24);
$shadow-6: rgba(50, 50, 71, 0.05);

$activeshadow: drop-shadow(0rem 0rem .0625rem $shadow-1) drop-shadow(0rem .625rem 1rem $shadow-2);
$inputshadow: 0rem .0625rem .125rem $shadow-3,
0rem 0rem .0625rem $shadow-4;

$dropdownshadow: 0 0 length(1) $shadow-5,
0 length(3) length(8) length(-1) $shadow-6;

$modalBtnShadow: 0 0 length(1) $shadow-1,
0 length(10) length(16) $shadow-2;