// OUR-MISSION SECTION START

.ourmission {
    background: $white;
    padding: length(80) length(0);

    @include breakpoint(tablet991) {
        padding: length(40) length(0);
    }

    &-details {
        @include flex-column;
        gap: length(16);

        .ourmission-title {
            color: $gray-800;

            @include breakpoint(desktop1400) {
                @include heading-2;
            }

            @include breakpoint(desktop1200) {
                @include heading-3;
            }

            @include breakpoint(tablet991) {
                text-align: center;
            }

            @include breakpoint(phone768) {
                @include heading-4;
            }

            @include breakpoint(phone480) {
                @include heading-5;
            }

            @include breakpoint(phone414) {
                @include heading-6;
            }
        }

        .ourmission-text {
            @include font-30-18-normal;
            color: $gray-600;

            @include breakpoint(tablet991) {
                text-align: center;
            }

            @include breakpoint(phone768) {
                @include font-26-16-normal;
            }
        }
    }

    &-thumbnail {
        @include w100;
        height: length(775);
        overflow: hidden;

        @include breakpoint(desktop1400) {
            height: length(675);
        }

        @include breakpoint(desktop1200) {
            height: length(575);
        }

        @include breakpoint(phone768) {
            height: length(375);
        }

        img {
            @include wh100;
            object-fit: cover;
            @include transitiontransform;

            @include breakpoint(tablet991) {
                object-fit: contain;
                max-width: 100%;
            }

            @include hover {
                @include transform(scale(1.05));
            }
        }
    }
}

// OUR-MISSION SECTION END

// MINDLY CHARACTERS START

.mindlycharacter {
    padding: length(80) length(0);
    background: $footerBg;

    @include breakpoint(tablet991) {
        padding: length(40) length(0);
    }

    @include breakpoint(phone768) {
        background: $characteristicsMobileBg;
    }

    &-content {
        @include flex-center-column;
        gap: length(80);

        @include breakpoint(tablet991) {
            gap: length(40);

            .owl-nav {
                display: none;
            }
        }

        .character-titles {
            @include flex-center-column;
            gap: length(4);
            text-align: center;

            .subtitle {
                @include font-26-16-normal;
                color: $black;
            }

            .title {
                color: $gray-800;

                @include breakpoint(tablet991) {
                    @include heading-2;
                }
            }
        }

        .mobile-character {
            display: none;

            @include breakpoint(phone768) {
                display: block;
            }

            .slideritem {
                overflow: hidden;
            }

            .owl-item {
                min-width: length(230);
                // height: length(320) !important;
            }
        }
    }
}

// MINDLY CHARACTER END


// ADVISORY SECTION START
.advisoryboard {
    padding: length(80) length(0);

    @include breakpoint(tablet991) {
        padding: length(40) length(0);
    }

    &-content {
        @include flex-column;
        gap: length(80);

        @include breakpoint(tablet991) {
            gap: length(40);
        }
    }

    &-header {
        @include flex-center-column;
        gap: length(16);
        text-align: center;
        @include w100;

        .advisoryboard-title {
            color: $gray-800;

            @include breakpoint(tablet991) {
                @include heading-2;
            }
        }

        .advisoryboard-text {
            @include font-30-18-normal;
            color: $gray-600;
        }
    }
}

// ADVISORY SECTION END

// LEADERSHIP-TEAM SECTION START
.leadershipteam {
    background: $white;
    padding: length(80) length(0);

    @include breakpoint(tablet991) {
        padding: length(40) length(0);
    }

    &-content {
        @include flex-column;
        gap: length(80);

        @include breakpoint(tablet991) {
            gap: length(40);
        }
    }

    &-header {
        @include flex-center-column;
        gap: length(16);
        text-align: center;
        @include w100;

        .leadershiptitle {
            color: $gray-800;

            @include breakpoint(tablet991) {
                @include heading-2;
            }
        }

        .leadershiptext {
            @include font-30-18-normal;
            color: $gray-600;
        }

        .leadershipinfo {
            width: length(242);
        }
    }

    &-body {
        .leadershipvideo {
            position: relative;
            @include radius(8);
            @include w100;
            overflow: hidden;
            height: length(743);

            @include breakpoint(desktop1400) {
                height: length(643);
            }

            @include breakpoint(desktop1200) {
                height: length(543);
            }

            @include breakpoint(phone768) {
                height: length(340);
            }

            .btn-playpause {
                @include square(length(144));
                @include circle;
                overflow: hidden;
                @include flex-center;
                position: absolute;
                top: 50%;
                left: 50%;
                @include transform(translate(-50%, -50%));
                @include transparent-button;

                @include breakpoint(desktop1200) {
                    @include square(length(100));
                }

                @include breakpoint(phone768) {
                    @include square(length(80));
                }

                svg {
                    @include wh100;
                }
            }
        }
    }
}

// LEADERSHIP-TEAM SECTION END

// ABOUT PRESS SECTION START
.aboutpress {
    padding: length(80) length(0);

    @include breakpoint(tablet991) {
        padding: length(40) length(0);
    }
}

// ABOUT PRESS SECTION END