// JOIN CAREER SECTION START

.careerjoin {
    background: $white;
    padding: length(80) length(0);

    @include breakpoint(tablet991) {
        padding: length(40) length(0);
    }

    &-details {
        @include flex-column;
        gap: length(16);

        @include breakpoint(tablet991) {
            align-items: center;
            text-align: center;
        }

        .careerjointitle {
            color: $gray-800;

            @include breakpoint(tablet991) {
                @include heading-2;
            }
        }

        .careerjointext {
            @include font-26-16-normal;
            color: $gray-600;
        }
    }

    &-thumbnail {
        height: length(775);
        overflow: hidden;

        @include breakpoint(desktop1400) {
            height: length(675);
        }

        @include breakpoint(desktop1199) {
            height: length(575);
        }

        @include breakpoint(tablet991) {
            height: length(500);
        }

        @include breakpoint(phone575) {
            height: length(375);
        }

        img {
            @include wh100;
            object-fit: cover;
            @include transitiontransform;

            @include breakpoint(tablet991) {
                object-fit: contain;
            }

            @include hover {
                @include transform(scale(1.05));
            }
        }
    }
}

// JOIN CAREER SECTION END

// GUIDING PRINCIPALES SECTION START
.guidingprinciples {
    padding: length(80) length(0);
    background: $footerBg;

    @include breakpoint(tablet991) {
        padding: length(40) length(0);
    }

    &-content {
        @include flex-center-column;
        gap: length(80);

        @include breakpoint(tablet991) {
            gap: length(40);
        }
    }

    &-header {
        @include flex-center-column;
        gap: length(24);
        text-align: center;

        .guidingtitle {
            color: $gray-800;

            @include breakpoint(tablet991) {
                @include heading-2;
            }
        }

        .guidingtext {
            @include font-30-18-normal;
            color: $gray-600;
        }
    }

    .serviceinfo {
        background: $white;
        position: relative;
        z-index: 2;

        &-content {
            @include flex-center-vert;
            gap: 0;

            @include breakpoint(tablet991) {
                display: none;
            }

            .card-serviceinfo {
                width: 25%;
                @include transform(scaleX(1));
                @include transitions;

                @include hover {
                    // @include transform(scaleX(1.2));
                    width: 30%;
                }
            }
        }

        // MOBILE SERVICE START
        .mobileservice {
            display: none;

            @include breakpoint(tablet991) {
                display: block;
            }

            .accordion {
                border: none;
                @include radius(0);

                &-item {
                    border: none;
                    @include radius(0);
                }

                &-button {
                    padding: length(0);
                    border: none;
                    @include transparent-button;

                    .servicemobile {
                        position: relative;
                        @include w100;

                        .service-thumbnail {
                            position: relative;
                            @include w100;
                            height: length(210);
                            overflow: hidden;

                            img {
                                @include w100;
                                object-fit: contain;
                            }

                            .overlay {
                                position: absolute;
                                top: 0;
                                left: 0;
                                @include wh100;
                                background: rgba($black, 0.5);
                                z-index: 1;
                            }
                        }

                        .service-header {
                            position: absolute;
                            top: 0;
                            left: 0;
                            @include w100;
                            z-index: 2;
                            @include flex-center-vert;
                            justify-content: flex-start;
                            padding: length(0);

                            .guideinfo {
                                position: relative;
                                z-index: 12;
                                padding: length(34) length(28);

                                h3 {
                                    color: $white;
                                }
                            }
                        }
                    }

                    &:not(.collapsed) {
                        color: transparent;
                        background-color: transparent;
                        box-shadow: none;

                        &::after {
                            @include transform(rotate(180deg));
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M15.4 3.7c-.2-.2-.4-.2-.7-.1L8 8.1 1.3 3.6c-.2-.2-.5-.1-.7.1-.2.2-.2.5 0 .7l7 8c.1.1.2.2.4.2s.3-.1.4-.2l7-8c.1-.3.1-.5 0-.7z'%3E%3C/path%3E%3C/svg%3E");
                        }
                    }

                    &::after {
                        position: absolute;
                        top: 50%;
                        @include transform(translateY(-50%));
                        right: length(20);
                        z-index: 20;
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M15.4 3.7c-.2-.2-.4-.2-.7-.1L8 8.1 1.3 3.6c-.2-.2-.5-.1-.7.1-.2.2-.2.5 0 .7l7 8c.1.1.2.2.4.2s.3-.1.4-.2l7-8c.1-.3.1-.5 0-.7z'%3E%3C/path%3E%3C/svg%3E");
                    }

                    &:focus {
                        box-shadow: none;
                        outline: none;
                        border: none;
                        border-color: transparent;
                    }
                }

                &-collapse {
                    @include radius(0);
                }

                &-body {
                    .servicetext {
                        @include font-30-18-normal;
                        color: $gray-700;
                    }
                }
            }
        }
    }
}

// GUIDING PRINCIPALES SECTION END

// CAREER JOINTEAM SECTION START
.careerjointeam {
    background: $white;
    padding: length(80) length(0);

    @include breakpoint(tablet991) {
        padding: length(40) length(0);
    }

    &-details {
        @include flex-column;
        gap: length(16);

        @include breakpoint(tablet991) {
            align-items: center;
            text-align: center;
            margin-bottom: length(24);
        }

        .jointeamtitle {
            color: $gray-800;

            @include breakpoint(tablet991) {
                @include heading-2;
            }
        }

        .joininfo {
            margin-bottom: length(24);

            .jointext {
                @include font-26-16-normal;
                color: $gray-600;
            }
        }

        .seepositions {
            width: length(242);
        }
    }

    &-videobox {
        @include w100;
        height: length(424);
        overflow: hidden;
        @include radius(8);
        position: relative;

        @include breakpoint(phone768) {
            height: length(340);
        }

        img {
            @include wh100;
            object-fit: cover;
            @include transitiontransform;
        }

        .btn-playpause {
            @include square(length(144));
            @include circle;
            overflow: hidden;
            @include flex-center;
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
            @include transparent-button;

            @include breakpoint(desktop1200) {
                @include square(length(100));
            }

            @include breakpoint(phone768) {
                @include square(length(80));
            }

            svg {
                @include wh100;
            }
        }
    }
}

// CAREER JOINTEAM SECTION END