// PROVIDER SLIDER SECTION START

.providerinfo {
    padding: length(80) length(0);

    @include breakpoint(tablet991) {
        padding: length(40) length(0);
    }

    &-content {
        @include flex-center-column;
        gap: length(80);

        @include breakpoint(tablet991) {
            gap: length(40);
        }

        .providerinfo-header {
            .providerinfos {
                @include w100;
                @include flex-center-column;
                gap: length(16);
                text-align: center;

                .providerinfotitle {
                    color: $gray-800;

                    @include breakpoint(tablet991) {
                        @include heading-2;
                    }
                }

                .providerinfotext {
                    @include font-30-18-normal;
                    color: $gray-600;
                }
            }
        }

        .providerinfo-body {
            @include w100;

            .providerinfo-slider {
                position: relative;

                .owl-nav {
                    width: length(200);
                    height: length(48);
                    position: absolute;
                    top: 75%;
                    @include transform(translateY(-75%));
                    @include flex-center-between;
                    left: auto;
                    right: 41%;

                    @include breakpoint(desktop1400) {
                        right: 38%;
                    }

                    @include breakpoint(desktop1200) {
                        right: 35%;
                    }

                    @include breakpoint(tablet991) {
                        right: auto;
                        left: 50%;
                        @include transform(translateX(-50%));
                        top: auto;
                        bottom: length(-10);
                    }

                    .owl-prev,
                    .owl-next {
                        margin: length(0) !important;
                    }
                }

                .owl-dots {
                    width: length(120);
                    height: length(48);
                    position: absolute;
                    top: 75%;
                    @include transform(translateY(-75%));
                    @include flex-center;
                    gap: length(12);
                    left: auto;
                    right: 44.05%;

                    @include breakpoint(desktop1400) {
                        width: length(110);
                        right: 42%;
                    }

                    @include breakpoint(desktop1200) {
                        right: 40%;
                    }

                    @include breakpoint(tablet991) {
                        right: auto;
                        left: 50%;
                        @include transform(translateX(-50%));
                        top: auto;
                        bottom: length(-10);
                    }

                    .owl-dot {
                        @include square(length(8));
                        @include circle;
                        background: $bulletBg;
                        @include transition;
                        overflow: hidden;

                        &.active {
                            @include square(length(12));
                            background: $primary;
                        }

                        &:hover:not(.active) {
                            @include square(length(12));
                            background: $primary;
                        }

                        span {
                            width: length(0);
                            height: length(0);
                            margin: length(0);
                            background: transparent;
                            display: none;
                            transition: none;
                            border-radius: length(0);
                        }
                    }
                }

                .providerdetails {
                    .providerthumbnail {
                        height: length(704);
                        overflow: hidden;

                        @include breakpoint(tablet991) {
                            margin-bottom: length(40);
                            width: length(300);
                            height: length(375);
                            @include flex-center;
                            margin-inline: auto;
                        }

                        img {
                            @include wh100;
                            object-fit: cover;
                        }
                    }

                    .providerdetail {
                        margin-left: length(24);
                        @include flex-column;
                        gap: length(24);
                        max-width: 74%;

                        @include breakpoint(tablet991) {
                            margin-left: length(0);
                            padding-bottom: length(60);
                            max-width: 100%;
                            text-align: center;
                        }

                        .providername {
                            color: $gray-800;

                            @include breakpoint(tablet991) {
                                @include heading-2;
                            }
                        }

                        .providertext {
                            @include font-26-16-normal;
                            color: $gray-600;
                        }
                    }
                }

                .owl-carousel {
                    .owl-item {
                        img {
                            @include breakpoint(phone575) {
                                @include w100;
                            }
                        }
                    }
                }
            }
        }
    }
}

// PROVIDER SLIDER SECTION END

// CORE TEAM SECTION START
.coreteam {
    background: $footerBg;
    padding: length(80) length(0);

    @include breakpoint(tablet991) {
        padding: length(40) length(0);
    }

    &-content {
        @include flex-center-column;
        gap: length(80);

        @include breakpoint(tablet991) {
            gap: length(40);
        }
    }

    &-header {
        @include w100;

        .coreteam-details {
            @include w100;
            @include flex-center-column;
            gap: length(16);
            text-align: center;

            .teamtitle {
                color: $gray-800;

                @include breakpoint(tablet991) {
                    @include heading-2;
                }
            }

            .teamtext {
                @include font-30-18-normal;
                color: $gray-600;
            }
        }
    }

    &-body {
        @include w100;

        .desktopteam {
            @include breakpoint(tablet991) {
                display: none;
            }
        }

        .mobileteam {
            display: none;

            @include breakpoint(tablet991) {
                display: block;
            }
        }
    }
}

// CORE TEAM SECTION END

// PROVIDER NETWORK SECTION START
.providernetwork {
    background: $secondary;
    padding: length(40) length(0);

    &-details {
        .providertitle {
            @include display-3;
            color: $white;

            @include breakpoint(desktop1400) {
                @include display-2;
            }

            @include breakpoint(desktop1199) {
                @include heading-1;
            }

            @include breakpoint(tablet991) {
                @include heading-2;
            }

            @include breakpoint(phone500) {
                @include heading-3;
            }

            @include breakpoint(phone768) {
                text-align: center;
            }
        }
    }

    &-info {
        @include flex-end;

        @include breakpoint(phone768) {
            justify-content: center;
        }

        .providernet {
            width: length(200);
        }
    }
}

// PROVIDER NETWORK SECTION END

// CHOOSE PROVIDER SECTION START
.chosseprovider {
    padding: length(80) length(0);

    @include breakpoint(tablet991) {
        padding: length(40) length(0);
    }

    &-content {
        @include flex-center-column;
        gap: length(80);

        @include breakpoint(tablet991) {
            gap: length(40);
        }
    }

    &-header {
        @include w100;

        .chosseprovider-details {
            @include w100;
            @include flex-center-column;
            gap: length(16);
            text-align: center;

            .choosetitle {
                color: $gray-800;

                @include breakpoint(tablet991) {
                    @include heading-2;
                }
            }

            .choosetext {
                @include font-30-18-normal;
                color: $gray-600;
            }
        }
    }

    &-body {
        @include w100;

        .desktopchoose {
            @include breakpoint(tablet991) {
                display: none;
            }
        }

        .mobilechoose {
            display: none;

            @include breakpoint(tablet991) {
                display: block;
            }
        }

        .owl-carousel {
            .owl-item {
                img {
                    @include breakpoint(phone575) {
                        @include w100;
                    }
                }
            }
        }
    }
}

// CHOOSE PROVIDER SECTION END

// PROVIDER-WORKS SECTION START
.providerworks {
    background: $white;
    padding: length(80) length(0);

    @include breakpoint(tablet991) {
        padding: length(40) length(0);
    }

    &-content {
        @include flex-center-column;
        gap: length(80);

        @include breakpoint(tablet991) {
            gap: length(40);
        }
    }

    &-header {
        @include w100;

        .providerworks-details {
            @include w100;
            @include flex-center-column;
            gap: length(16);
            text-align: center;

            .providerworkstitle {
                color: $gray-800;

                @include breakpoint(tablet991) {
                    @include heading-2;
                }
            }

            .providerworkstext {
                @include font-30-18-normal;
                color: $gray-600;
            }
        }
    }

    &-body {
        @include w100;
        @include flex-center-column;
        gap: length(80);

        @include breakpoint(tablet991) {
            gap: length(40);
        }

        .providerworksinfo {
            @include w100;
            @include flex-center-column;
            gap: length(40);

            &-header {
                @include w100;

                .title {
                    color: $black;
                    text-align: center;
                }
            }

            &-body {
                @include w100;
            }
        }

        .applybox {
            @include flex-center;

            .applyinfo {
                width: length(200);
            }
        }
    }
}

// PROVIDER-WORKS SECTION END