// PROVIDER SLIDER SECTION START

.providerinfo {
    padding: length(80) length(0);

    @include breakpoint(tablet991) {
        padding: length(40) length(0);
    }

    &-content {
        @include flex-center-column;
        gap: length(80);

        @include breakpoint(tablet991) {
            gap: length(40);
        }

        .providerinfo-header {
            .providerinfos {
                @include w100;
                @include flex-center-column;
                gap: length(16);
                text-align: center;

                .providerinfotitle {
                    color: $gray-800;

                    @include breakpoint(tablet991) {
                        @include heading-2;
                    }
                }

                .providerinfotext {
                    @include font-30-18-normal;
                    color: $gray-600;
                }
            }
        }

        .providerinfo-body {
            @include w100;

            .providerinfo-slider {
                position: relative;

                .owl-nav {
                    width: length(200);
                    height: length(48);
                    position: absolute;
                    top: 75%;
                    @include transform(translateY(-75%));
                    @include flex-center-between;
                    left: auto;
                    right: 41%;

                    @include breakpoint(desktop1400) {
                        right: 38%;
                    }

                    @include breakpoint(desktop1200) {
                        right: 35%;
                    }

                    @include breakpoint(tablet991) {
                        right: auto;
                        left: 50%;
                        @include transform(translateX(-50%));
                        top: auto;
                        bottom: length(-10);
                    }

                    .owl-prev,
                    .owl-next {
                        margin: length(0) !important;
                    }
                }

                .owl-dots {
                    width: length(120);
                    height: length(48);
                    position: absolute;
                    top: 75%;
                    @include transform(translateY(-75%));
                    @include flex-center;
                    gap: length(12);
                    left: auto;
                    right: 44.05%;

                    @include breakpoint(desktop1400) {
                        width: length(110);
                        right: 42%;
                    }

                    @include breakpoint(desktop1200) {
                        right: 40%;
                    }

                    @include breakpoint(tablet991) {
                        right: auto;
                        left: 50%;
                        @include transform(translateX(-50%));
                        top: auto;
                        bottom: length(-10);
                    }

                    .owl-dot {
                        @include square(length(8));
                        @include circle;
                        background: $bulletBg;
                        @include transition;
                        overflow: hidden;

                        &.active {
                            @include square(length(12));
                            background: $primary;
                        }

                        &:hover:not(.active) {
                            @include square(length(12));
                            background: $primary;
                        }

                        span {
                            width: length(0);
                            height: length(0);
                            margin: length(0);
                            background: transparent;
                            display: none;
                            transition: none;
                            border-radius: length(0);
                        }
                    }
                }

                .providerdetails {
                    .providerthumbnail {
                        height: length(704);
                        overflow: hidden;

                        @include breakpoint(tablet991) {
                            margin-bottom: length(40);
                        }

                        img {
                            @include wh100;
                            object-fit: cover;
                        }
                    }

                    .providerdetail {
                        margin-left: length(24);
                        @include flex-column;
                        gap: length(24);

                        @include breakpoint(tablet991) {
                            margin-left: length(0);
                            padding-bottom: length(60);
                        }

                        .providername {
                            color: $gray-800;

                            @include breakpoint(tablet991) {
                                @include heading-2;
                            }
                        }

                        .providertext {
                            @include font-24-16-normal;
                            color: $gray-600;
                        }
                    }
                }
            }
        }
    }
}

// PROVIDER SLIDER SECTION END