// MOBILE BANNER START
.homemobilebanner {
    @include flex-center-column;
    @include w100;
    padding-bottom: lenth(70);

    @include breakpoint(tab991) {
        display: none;
    }

    &-content {
        @include w100;
    }

    .banner-thumbnail {
        @include flex-center-column;
        height: length(240);
        padding: length(48) length(4);
        @include flex-center-vert;

        &-content {
            @include flex-column;
            gap: length(28);

            .thumbnail-title {
                @include display-2;
                color: $white;
            }
        }
    }

    .banner-details {
        @include flex-column;
        gap: length(18);
        background: $appontmentBg;

        .bannercontent {
            padding: length(45) length(4) length(6);

            .bannertext {
                @include font-30-18-normal;
                color: $gray-700;
                text-align: center;
            }
        }

        .appointmentcontent {
            @include flex-column;
            gap: length(12);
        }
    }
}

// MOBILE BANNER END


// DESKTOP BANNER START
.homedesktopbanner {
    height: length(680);
    display: none;

    @include breakpoint(tab991) {
        display: block;
    }

    .desktop-thumnail {
        padding: length(54) length(0) length(38);
        @include h100;


        &-content {
            .bannerinfo {
                max-width: 60%;
                @include flex-column;
                gap: length(32);

                @include breakpoint(desktop1400) {
                    max-width: 70%;
                }

                .thumbnail-title {
                    @include display-1;
                    color: $gray-700;
                }

                .thumbnail-text {
                    @include font-38-24-normal;
                    color: $gray-700;
                }
            }
        }
    }
}

// DESKTOP BANNER END


// DESKTOP APPONTMENT SECTION START
.getappointment {
    overflow: hidden;
    margin-top: length(-228);
    position: relative;
    z-index: 200;
    padding-bottom: length(160);
    display: none;

    @include breakpoint(tab991) {
        display: block;
    }

    &-content {
        .appointment {
            background: $white;
            background: $box-shadow-1;
            max-width: 60%;
            padding: length(60) length(100);
            @include flex-column;
            gap: length(24);

            @include breakpoint(desktop1400) {
                max-width: 70%;
            }
        }
    }
}

// DESKTOP APPONTMENT SECTION END


// ROUNDED WHEEL SECTION START
.roundedwheel {
    padding: length(80) length(0);
    background: $white;

    &-content {
        @include flex-center-column;
        gap: length(80);
        max-width: length(877);
        margin-inline: auto;
    }

    &-header {
        @include flex-center-column;
        gap: length(24);
        text-align: center;

        .wheeltitle {
            color: $gray-600;
        }

        .wheeltext {
            @include font-30-18-normal;
            color: $gray-700;
        }
    }

    &-body {

        .circle {
            position: relative;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            // animation: rotate 2.5s linear infinite;
        }

        @keyframes rotate {
            to {
                transform: rotate(360deg);
            }
        }

        .circle6 {
            position: absolute;
            border-radius: 50%;
        }

        .circle4 {
            position: absolute;
            border-radius: 50%;
        }

        .c61 {
            border-left: 15px solid #3a86ff;
            background: #000;
            border-right: 15px solid #000;
            border-top: 15px solid #000;
            border-bottom: 15px solid #000;
        }

        .c62 {
            border-right: 15px solid #ff006e;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-left: 15px solid transparent;
        }

        .c63 {
            border-right: 15px solid transparent;
            border-top: 15px solid #fb5607;
            border-bottom: 15px solid transparent;
            border-left: 15px solid transparent;
        }

        .c64 {
            border-right: 15px solid transparent;
            border-left: 15px solid transparent;
            border-top: 15px solid transparent;
            border-bottom: 15px solid #80ffdb;
        }

        .c65 {
            position: absolute;
            // animation: colorUp 2s ease infinite;
        }

        @keyframes colorUp {
            0% {
                width: 0px;
                height: 0px;
                background: #fff;
            }

            15% {
                width: 50px;
                height: 50px;
                background: #ff006e;
            }

            25% {
                width: 0px;
                height: 0px;
                background: #fff;
            }

            40% {
                width: 50px;
                height: 50px;
                background: #fb5607;
            }

            50% {
                width: 0px;
                height: 0px;
                background: #fff;
            }

            65% {
                width: 50px;
                height: 50px;
                background: #80ffdb;
            }

            75% {
                width: 0px;
                height: 0px;
                background: #fff;
            }

            90% {
                width: 50px;
                height: 50px;
                background: #3a86ff;
            }
        }

        .roundedwheel {
            @include square(length(300));
            @include circle;
            background: rebeccapurple;
            @include flex-center;
            overflow: hidden;

            &-item {
                width: 25%;
                height: length(80);

                &:nth-child(1) {
                    background: royalblue
                }

                &:nth-child(2) {
                    background: saddlebrown;
                }

                &:nth-child(3) {
                    background: seagreen;
                }

                &:nth-child(4) {
                    background: tomato;
                }
            }
        }
    }
}

// ROUNDED WHEEL SECTION END


// MINDLY CHARACTERSTICS START

.mindlycharacteristics {
    padding: length(80) length(0);
    background: $footerBg;

    @include breakpoint(tablet991) {
        padding: length(40) length(0);
    }

    @include breakpoint(phone768) {
        background: $characteristicsMobileBg;
    }

    &-content {
        @include flex-center-column;
        gap: length(80);

        @include breakpoint(tablet991) {
            gap: length(40);

            .owl-nav {
                display: none;
            }
        }

        .characteristics-titles {
            @include flex-center-column;
            gap: length(4);
            text-align: center;

            .subtitle {
                @include font-26-16-normal;
                color: $black;
            }

            .title {
                color: $gray-800;

                @include breakpoint(tablet991) {
                    @include heading-2;
                }
            }
        }

        .mobilecharacteristic {
            display: none;

            @include breakpoint(tablet991) {
                display: block;
            }
        }
    }
}

// MINDLY CHARACTERSTICS END


// MINDLY PACKAGES START
.mindlypackages {
    padding: length(80) length(0);

    @include breakpoint(tablet991) {
        padding: length(40) length(0);
    }

    &-content {
        @include flex-center-column;
        gap: length(80);

        @include breakpoint(tablet991) {
            gap: length(40);

            .owl-nav {
                display: none;
            }
        }
    }

    &-header {
        @include flex-center-column;
        gap: length(24);
        text-align: center;

        .mindlypackagetitle {
            color: $gray-800;

            @include breakpoint(tablet991) {
                @include heading-2;
            }
        }

        .mindlypackagetext {
            @include font-30-18-normal;
            color: $gray-600;
        }
    }
}

// MINDLY PACKAGES END


// MINDLY DOCTORS START
.mindlydoctors {
    padding: length(80) length(0);

    @include breakpoint(tablet991) {
        padding: length(40) length(0);
    }

    &-content {
        @include flex-center-column;
        gap: length(60);

        @include breakpoint(tablet991) {
            gap: length(32);
        }

        .seeallinfo {
            width: length(200);
            @include flex-center;

            @include breakpoint(tablet991) {
                display: none;
            }

            .btn-seeall {
                padding: length(16) length(32);
                @include border(solid, 1.45, $secondary);
                @include radius(8);
                @include setBgColor(transparent, $secondary);
                @include font-14-14-semibold;
                text-align: center;
                @include transitions;

                @include hover {
                    @include setBgColor($secondary, $white);
                }
            }
        }

        .mobiledoclist {
            display: none;

            @include breakpoint(tablet991) {
                display: block;
            }
        }
    }

    &-header {
        @include flex-center-column;
        gap: length(24);
        text-align: center;
        padding-bottom: length(16);

        .mindlydoctorstitle {
            color: $gray-800;

            @include breakpoint(tablet991) {
                @include heading-2;
            }
        }

        .mindlydoctorstext {
            @include font-30-18-normal;
            color: $gray-600;
        }
    }
}

// MINDLY DOCTORS END

// ACHIEVEPOTENTIAL START
.achievepotential {
    padding: length(80) length(0);

    @include breakpoint(tablet991) {
        padding: length(40) length(0);
    }

    &-content {
        @include flex-center-column;
        gap: length(80);

        @include breakpoint(tablet991) {
            gap: length(40);
        }
    }

    .achieve-head {
        @include w100;

        .achievetitle {
            color: $gray-800;
            text-align: center;

            @include breakpoint(tablet991) {
                @include heading-2;
            }
        }
    }

    &-details {
        position: relative;
        display: flex;

        @include breakpoint(tablet991) {
            display: none;
        }

        .unlock {
            @include square(length(218));
            @include flex-center-column;
            overflow: hidden;
            background-color: $white;
            @include circle;
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
            z-index: 100;
            padding: length(54) length(73);

            @include breakpoint(desktop1400) {
                @include square(length(168));
                padding: length(48);
            }

            @include breakpoint(desktop1199) {
                @include square(length(140));
                padding: length(36);
            }

            .icon {
                @include square(length(64));
                @include flex-center;
                overflow: hidden;
                padding: length(8);

                svg {
                    @include wh100;
                }
            }

            .text {
                @include heading-4;
                font-weight: bold;
                color: $textDark;
                text-align: center;
            }
        }

        .achieve {
            overflow: hidden;
            width: 50%;
            position: relative;

            &-thumbnail {
                @include w100;
                @include radius(15);
                overflow: hidden;
                position: relative;

                img {
                    @include wh100;
                    object-fit: cover;
                    @include transitiontransform;

                    @include hover {
                        @include transform(scale(1.05));
                    }
                }
            }

            &-info {
                position: absolute;
                bottom: length(72);
                left: 50%;
                @include transform(translateX(-50%));
                z-index: 100;
                width: length(370);
                @include flex-center-column;
                gap: length(10);
                text-align: center;

                .achievetitle {
                    color: $white;
                }

                .achievetext {
                    @include font-30-18-normal;
                    color: $white;
                }
            }

            @include hover {
                .achieve-info {
                    background: $achieveHoverBg;
                    bottom: auto;
                    top: 50%;
                    @include transform(translate(-50%, -50%));
                }
            }
        }
    }

    .mobile-potential {
        display: none;

        @include breakpoint(tablet991) {
            @include flex-center-column;
        }

        padding: length(0) length(4);
        gap: length(40);

        .achievemobile {
            @include flex-center-column;
            gap: length(24);

            &-thumbnail {
                @include w100;
                height: length(476);
                overflow: hidden;
                @include radius(15);

                @include breakpoint(tablet991) {
                    width: length(300);
                    height: length(375);
                    @include flex-center;
                    margin-inline: auto;
                }

                img {
                    @include wh100;
                    object-fit: contain;
                    @include transitiontransform;

                    @include hover {
                        @include transform(scale(1.05));
                    }
                }
            }

            &-info {
                @include flex-center-column;
                gap: length(10);
                text-align: center;

                .achievetitle {
                    color: $gray-800;
                }

                .achievetext {
                    @include font-26-16-normal;
                    color: $gray-600;
                }
            }
        }
    }
}

// ACHIEVEPOTENTIAL END

// TURN-TEAM START
.turnteam {
    background: $white;
    padding: length(150) length(0);

    @include breakpoint(tablet991) {
        padding: length(60) length(0);
    }

    &-content {
        @include flex-center-column;
        gap: length(40);

        @include breakpoint(phone768) {
            gap: length(32);
        }
    }

    &-details {
        min-height: length(743);
        position: relative;
        @include flex-align-end-justifycenter;
        padding-bottom: length(70);
        @include radius(15);
        overflow: hidden;

        @include breakpoint(tablet991) {
            min-height: length(443);
            padding: length(20) length(16) length(40);
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            @include wh100;
            background: $overlayBg;

            @include breakpoint(phone768) {
                background: rgba($black, 0.5);
            }
        }

        .detail {
            position: relative;
            z-index: 10;
            @include flex-center-column;
            gap: length(4);
            text-align: center;

            .titles {
                @include flex-center-column;
                text-align: center;
                gap: length(4);

                .subtitle {
                    @include font-26-16-normal;
                    color: $white;

                    @include breakpoint(phone768) {
                        @include font-26-16-normal;
                    }
                }

                .title {
                    color: $white;

                    @include breakpoint(tablet991) {
                        @include heading-2;
                    }

                    @include breakpoint(phone768) {
                        @include heading-3;
                    }
                }
            }

            .text {
                @include font-30-18-normal;
                color: $white;

                @include breakpoint(phone768) {
                    @include font-26-16-normal;
                }
            }
        }
    }

    &-info {
        .turnteam-thumbnail {
            img {
                @include wh100;
                object-fit: cover;
            }
        }
    }
}

// TURN-TEAM END

// YOUTH-EMPOWERMENT START
.youthempowerment {
    background: $white;

    &-content {
        background: $footerBg;
        @include transform(skew(0deg, -8deg));
    }

    .youth-details {
        @include transform(skew(0deg, 8deg));
        padding: length(48) length(0) length(400);
        @include flex-center-column;
        gap: length(16);
        text-align: center;

        @include breakpoint(tablet991) {
            padding: length(48) length(0) length(240);
        }

        @include breakpoint(phone768) {
            padding: length(48) length(0) length(140);
        }

        .youthempowertitle {
            color: $secondary;
            margin-bottom: length(8);
        }

        .youthempowertext {
            @include font-30-18-normal;
            color: $gray-600;
        }

        .youthinfo {
            @include flex-center;
            gap: length(12);

            .btn-learnmore {
                background: transparent;
                padding: length(16) length(32);
                text-align: center;
                @include setBgColor(transparent, $tertiary);
                @include border(solid, 1, $tertiary);
                @include radius(6);
                @include font-14-14-semibold;
                @include transitions;

                @include breakpoint(phone768) {
                    padding: length(14) length(18);
                }

                @include hover {
                    @include setBgColor($tertiary, $white);
                }
            }

            .btn-regvol {
                padding: length(16) length(20);
                text-align: center;
                @include setBgColor($tertiary, $white);
                @include border(solid, 1, $tertiary);
                @include radius(6);
                @include font-14-14-semibold;
                @include transitions;

                @include breakpoint(phone768) {
                    padding: length(14) length(18);
                }

                @include hover {
                    @include setBgColor($white, $tertiary);
                    border-color: $white;
                }
            }
        }
    }
}

// YOUTH-EMPOWERMENT END

// EMPOWER SECTION START
.empower {
    position: relative;
    z-index: 20;
    margin-top: length(-360);

    @include breakpoint(tablet991) {
        margin-top: length(-200);
    }

    @include breakpoint(phone768) {
        margin-top: length(-105);
    }

    &-thumbnail {
        @include w100;
        @include radius(8);
        overflow: hidden;

        img {
            @include wh100;
            object-fit: cover;
            @include transitiontransform;

            @include hover {
                @include transform(scale(1.05));
            }
        }
    }
}

// EMPOWER SECTION END

// MEMBER REVIEW START
.memberreview {
    position: relative;
    padding: length(80) length(0);

    @include breakpoint(tablet991) {
        padding: length(40) length(0);
    }

    &-content {
        @include flex-column;
        gap: length(40);

        .reviewdetails {
            @include flex-center-column;
            gap: length(4);
            text-align: center;

            @include breakpoint(tablet991) {
                padding: length(0) length(8);
            }

            .reviewsubtitle {
                @include font-26-16-normal;
                color: $black;
            }

            .reviewtitle {
                color: $gray-800;

                @include breakpoint(tablet991) {
                    @include heading-3;
                }
            }
        }
    }
}

// MEMBER REVIEW END

// INCREMENTCOUNTER START
.incrementcounter {
    padding: length(80) length(0);

    @include breakpoint(tablet991) {
        padding: length(40) length(0);
    }

    &-content {
        @include flex-center;
        gap: length(24);

        @include breakpoint(tablet991) {
            flex-wrap: wrap;
            gap: length(16);
        }
    }
}

// INCREMENTCOUNTER END

// OURCLIENTS START
.ourclients {
    background: $primary;
    padding: length(80) length(0);

    @include breakpoint(tablet991) {
        padding: length(40) length(0);
    }

    &-content {
        @include flex-center-column;
        gap: length(80);

        @include breakpoint(tablet991) {
            gap: length(40);
        }
    }

    &-header {
        .clientstitle {
            color: $white;
            text-align: center;

            @include breakpoint(tablet991) {
                @include heading-2;
            }
        }
    }
}

// OURCLIENTS END

// BLOG SECTION START
.blogs {
    padding: length(80) length(0);

    @include breakpoint(tablet991) {
        padding: length(40) length(0);
    }

    &-content {
        @include flex-column;
        gap: length(40);

        .blogs-header {
            .blogtitle {
                color: $gray-800;
                text-align: center;

                @include breakpoint(tablet991) {
                    @include heading-2;
                }
            }
        }

        .blogs-body {
            .desktopblogs {
                @include flex-center-column;
                gap: length(80);

                @include breakpoint(tablet991) {
                    display: none;
                }

                .readmore {
                    @include flex-center;

                    .btn-readmore {
                        padding: length(16) length(32);
                        @include border(solid, 1.45, $secondary);
                        @include radius(8);
                        @include setBgColor(transparent, $secondary);
                        @include font-14-14-semibold;
                        text-align: center;
                        @include transitions;

                        @include hover {
                            @include setBgColor($secondary, $white);
                        }
                    }
                }
            }

            .mobileblogs {
                display: none;

                @include breakpoint(tablet991) {
                    display: block;
                }
            }
        }
    }
}

// BLOG SECTION END

// PRESS SECTION START
.press {
    padding: length(0) length(0) length(80);

    @include breakpoint(tablet991) {
        padding: length(0) length(0) length(40);
    }

    &-content {
        @include flex-column;
        gap: length(40);

        .press-header {
            .presstitle {
                color: $gray-800;
                text-align: center;

                @include breakpoint(tablet991) {
                    @include heading-2;
                }
            }
        }

        .pressdesktop {
            @include flex-column;
            gap: length(80);

            @include breakpoint(tablet991) {
                display: none;
            }

            .pressdesktopinfo {
                @include flex-center;

                .btn-readmore {
                    padding: length(16) length(32);
                    @include border(solid, 1.45, $secondary);
                    @include radius(8);
                    @include setBgColor(transparent, $secondary);
                    @include font-14-14-semibold;
                    text-align: center;
                    @include transitions;

                    @include hover {
                        @include setBgColor($secondary, $white);
                    }
                }
            }
        }

        .pressmobile {
            display: none;

            @include breakpoint(tablet991) {
                display: block;
            }
        }
    }
}

// PRESS SECTION END