// MOBILE BANNER START
.mobilebanner {
    @include flex-center-column;
    @include w100;

    @include breakpoint(tab991) {
        display: none;
    }

    &-content {
        @include w100;
    }

    .banner-thumbnail {
        @include flex-center-column;
        height: length(240);
        padding: length(48) length(4);
        @include flex-center-vert;

        &-content {
            @include flex-column;
            gap: length(28);

            .thumbnail-title {
                @include display-2;
                color: $white;
            }
        }
    }

    .banner-details {
        @include flex-column;
        gap: length(18);
        background: $appontmentBg;

        .bannercontent {
            padding: length(45) length(4) length(6);

            .bannertext {
                @include font-30-18-normal;
                color: $gray-700;
                text-align: center;
            }
        }

        .appointmentcontent {
            @include flex-column;
            gap: length(12);
        }
    }
}

// MOBILE BANNER END


// DESKTOP BANNER START
.desktopbanner {
    height: length(660);

    .desktop-thumnail {
        padding: length(54) length(0) length(38);
        @include h100;

        &-content {
            .bannerinfo {
                max-width: 60%;
                @include flex-column;
                gap: length(32);

                .thumbnail-title {
                    @include display-1;
                    color: $gray-700;
                }

                .thumbnail-text {
                    @include font-38-24-normal;
                    color: $gray-700;
                }
            }
        }
    }
}

// DESKTOP BANNER END


// DESKTOP APPONTMENT SECTION START
.getappointment {
    overflow: hidden;
    margin-top: length(-152);
    position: relative;
    z-index: 100;
    padding-bottom: length(160);

    &-content {
        .appointment {
            background: $white;
            background: $box-shadow-1;
            max-width: 60%;
            padding: length(60) length(100);
            @include flex-column;
            gap: length(24);
        }
    }
}

// DESKTOP APPONTMENT SECTION END