// LEADERSHIP-BOARD SECTION START

.leadership {
    padding: length(80) length(0);

    @include breakpoint(tablet991) {
        padding: length(40) length(0);
    }

    &-content {
        @include flex-column;
        gap: length(80);
    }

    &-header {
        @include flex-center-column;
        gap: length(24);
        text-align: center;

        .leadershiptitle {
            color: $gray-800;
        }

        .leadershiptext {
            @include font-30-18-normal;
            color: $gray-600;
        }
    }
}

// LEADERSHIP-BOARD SECTION END

// LEADSHIP-BOARD SECTION START

.leadship {
    padding: length(80) length(0) length(160);

    @include breakpoint(tablet991) {
        padding: length(40) length(0) length(80);
    }
}

// LEADSHIP-BOARD SECTION END