// AUTHENTICATION SECTION START

.authentication {

    &-details {
        @include w100;
        @include flex-center;

        @include breakpoint(tablet991) {
            height: 100vh;
        }

        .authinfo {
            background: $white;
            @include radius(16);
            box-shadow: $box-shadow-1;
            width: length(584);
            @include flex-center-column;
            gap: length(80);
            padding: length(80);

            @include breakpoint(tablet991) {
                align-items: center;
                padding: length(40);
                gap: length(40);
            }

            @include breakpoint(phone575) {
                padding: length(40) length(20);
                width: 95%;
                margin-inline: auto;
            }

            .logo {
                @include flex-center;

                .logolink {
                    width: length(367);
                    height: length(80);
                    overflow: hidden;

                    @include breakpoint(tablet991) {
                        width: length(200);
                        height: length(80);
                        margin-inline: auto;
                    }

                    img {
                        @include wh100;
                        object-fit: contain;
                    }
                }
            }

            form {
                width: length(424);
                margin-inline: auto;
                @include flex-column;
                gap: length(24);

                @include breakpoint(tablet991) {
                    @include w100;
                }

                .inputbox {
                    .forminfo {
                        @include flex-column;
                        gap: length(8);

                        .inputlabel {
                            @include font-24-14-medium;
                            color: $dateColor;
                        }

                        .inputinfo {
                            background: $white;
                            @include flex-center-vert;
                            gap: length(8);
                            padding: length(12) length(16);
                            @include radius(6);
                            box-shadow: $box-shadow-2;

                            .flagicon-phonecode {
                                width: length(94);
                                @include flex-center-vert;
                                gap: length(10);

                                .flagicon {
                                    @include square(length(22));
                                    @include circle;
                                    @include flex-center;
                                    overflow: hidden;

                                    svg {
                                        @include wh100;
                                    }
                                }

                                .phonecode {
                                    width: calc(100% - 2rem);

                                    .form-select {
                                        border: none;
                                        width: 100%;
                                        @include font-12-12-semibold;
                                        color: $selectColor;
                                        padding: length(0);

                                        &:focus {
                                            outline: none;
                                            box-shadow: none;
                                            border: none;
                                        }
                                    }
                                }
                            }

                            .inputfield {
                                width: calc(100% - 5.875rem);
                                background: transparent;
                                @include font-24-14-medium;
                                color: $selectColor;

                                &::placeholder {
                                    color: $authPlaceholder;
                                }
                            }
                        }
                    }
                }

                // VERIFICATION INFO START
                .verificationinfo {
                    @include flex-center-column;
                    gap: length(24);

                    &-header {
                        @include flex-center-column;
                        gap: length(12);
                        text-align: center;

                        .verificationtitle {
                            color: $verificationTitle;
                        }

                        .verificationtext {
                            @include font-26-16-normal;
                            color: $textVerification;
                        }
                    }

                    &-body {
                        @include flex-center;
                        gap: length(24);

                        .verificationinput {
                            @include square(length(60));
                            @include circle;
                            @include font-28-20-semibold;
                            line-height: 1;
                            @include border(solid, 1, $gray-300);
                            @include setBgColor($white, $verifyInput);
                            @include transitions;
                            text-align: center;

                            &:focus {
                                border-color: $tertiary;
                            }
                        }
                    }
                }

                // VERIFICATION INFO END

                .submitbox {
                    .btn-submit {
                        @include w100;
                        height: length(48);
                        padding: length(16);
                        @include setBgColor($tertiary, $white);
                        @include radius(8);
                        @include font-24-16-semibold;
                        line-height: 1;
                        text-align: center;
                        @include transitions;

                        @include hover {
                            background: darken($tertiary, 20%);
                        }
                    }
                }
            }
        }
    }

    &-thumbnail {
        @include w100;
        height: 100vh;
        overflow: hidden;

        img {
            @include wh100;
            object-fit: cover;
        }
    }
}

// AUTHENTICATION SECTION END