.btn-signup {
    padding: length(16) length(32);
    text-align: center;
    @include setBgColor($tertiary, $white);
    @include border(solid, 1, $tertiary);
    @include radius(6);
    @include font-16-16-semibold;
    @include transitions;

    @include hover {
        @include setBgColor($white, $tertiary);
    }
}

.btn-signin {
    padding: length(16) length(32);
    text-align: center;
    @include setBgColor($white, $tertiary);
    @include border(solid, 1, $tertiary);
    @include radius(6);
    @include font-16-16-semibold;
    @include transitions;

    @include hover {
        @include setBgColor($tertiary, $white);
    }
}

.btn-appointment {
    padding: length(16) length(20);
    @include flex-center-between;
    background: $secondary;
    @include radius(5);

    .text {
        @include font-16-16-semibold;
        color: $white;
    }

    .icon {
        @include square(length(44));
        padding: length(10);
        @include flex-center;
        @include radius(5);
        background: rgba($white, 0.2);
    }
}

.btn-test {
    padding: length(16) length(20);
    @include flex-center-between;
    background: $primary;
    @include radius(5);

    .text {
        @include font-16-16-semibold;
        color: $white;
    }

    .icon {
        @include square(length(44));
        padding: length(10);
        @include flex-center;
        @include radius(5);
        background: rgba($white, 0.2);
    }
}

.btn-desktopappointment {
    padding: length(46) length(20) length(46) length(40);
    @include flex-center-between;
    background: $secondary;
    @include radius(5);

    .appointmentinfo {
        @include flex-column;
        gap: length(16);

        .text {
            @include font-16-16-semibold;
            color: $white;
        }

        .infotext {
            @include font-16-16-normal;
            color: $gray-200;
        }
    }

    .icon {
        @include square(length(44));
        padding: length(10);
        @include flex-center;
        @include radius(5);
        background: rgba($white, 0.2);
    }
}

.btn-desktoptest {
    padding: length(46) length(20) length(46) length(40);
    @include flex-center-between;
    background: $primary;
    @include radius(5);

    .appointmentinfo {
        @include flex-column;
        gap: length(16);

        .text {
            @include font-16-16-semibold;
            color: $white;
        }

        .infotext {
            @include font-16-16-normal;
            color: $gray-200;
        }
    }

    .icon {
        @include square(length(44));
        padding: length(10);
        @include flex-center;
        @include radius(5);
        background: rgba($white, 0.2);
    }
}

.btn-appointmant {
    @include setBgColor($tertiary, $white);
    @include font-14-14-semibold;
    padding: length(16);
    text-align: center;
    @include flex-center;
    @include w100;
    @include radius(8);
    text-align: center;
    @include transitions;

    @include breakpoint(phone575) {
        @include font-12-12-semibold;
    }

    @include hover {
        @include setBgColor(darken($tertiary, 15%), $white);
    }
}

.btn-request {
    @include setBgColor($tertiary, $white);
    @include font-14-14-semibold;
    padding: length(16) length(30);
    text-align: center;
    @include flex-center;
    @include w100;
    @include radius(8);
    text-align: center;
    @include transitions;

    @include breakpoint(phone575) {
        @include font-12-12-semibold;
    }

    @include hover {
        @include setBgColor(darken($tertiary, 15%), $white);
    }
}