.btn-signup {
    padding: length(16) length(32);
    text-align: center;
    @include setBgColor($tertiary, $white);
    @include border(solid, 1, $tertiary);
    @include radius(6);
    @include font-16-16-semibold;
    @include transitions;

    @include breakpoint(desktop1199) {
        padding: length(14) length(20);
    }

    @include hover {
        @include setBgColor($white, $tertiary);
    }
}

.btn-signin {
    padding: length(16) length(32);
    text-align: center;
    @include setBgColor(transparent, $tertiary);
    @include border(solid, 1, $tertiary);
    @include radius(6);
    @include font-16-16-semibold;
    @include transitions;

    @include breakpoint(desktop1199) {
        padding: length(14) length(20);
    }

    @include hover {
        @include setBgColor($tertiary, $white);
    }
}

.btn-appointment {
    padding: length(16) length(20);
    @include flex-center-between;
    background: $secondary;
    @include radius(5);
    text-align: left;

    .text {
        @include font-16-16-semibold;
        color: $white;
    }

    .icon {
        @include square(length(44));
        padding: length(10);
        @include flex-center;
        @include radius(5);
        background: rgba($white, 0.2);
    }
}

.btn-test {
    padding: length(16) length(20);
    @include flex-center-between;
    background: $primary;
    @include radius(5);

    .text {
        @include font-16-16-semibold;
        color: $white;
    }

    .icon {
        @include square(length(44));
        padding: length(10);
        @include flex-center;
        @include radius(5);
        background: rgba($white, 0.2);
    }
}

.btn-desktopappointment {
    padding: length(46) length(20) length(46) length(40);
    @include flex-center-between;
    background: $secondary;
    @include radius(5);

    .appointmentinfo {
        @include flex-column;
        gap: length(16);
        text-align: left;

        .text {
            @include font-16-16-semibold;
            color: $white;
        }

        .infotext {
            @include font-16-16-normal;
            color: $gray-200;
        }
    }

    .icon {
        @include square(length(44));
        padding: length(10);
        @include flex-center;
        @include radius(5);
        background: rgba($white, 0.2);
    }
}

.btn-desktoptest {
    padding: length(46) length(20) length(46) length(40);
    @include flex-center-between;
    background: $primary;
    @include radius(5);

    .appointmentinfo {
        @include flex-column;
        gap: length(16);

        .text {
            @include font-16-16-semibold;
            color: $white;
        }

        .infotext {
            @include font-16-16-normal;
            color: $gray-200;
        }
    }

    .icon {
        @include square(length(44));
        padding: length(10);
        @include flex-center;
        @include radius(5);
        background: rgba($white, 0.2);
    }
}

.btn-appointmant {
    @include setBgColor($tertiary, $white);
    @include font-14-14-semibold;
    padding: length(16);
    text-align: center;
    @include flex-center;
    @include w100;
    @include radius(8);
    text-align: center;
    @include transitions;

    @include breakpoint(phone575) {
        @include font-12-12-semibold;
    }

    @include hover {
        @include setBgColor(darken($tertiary, 15%), $white);
    }
}

.btn-request {
    @include setBgColor($tertiary, $white);
    @include font-14-14-semibold;
    padding: length(16);
    text-align: center;
    @include flex-center;
    @include w100;
    @include radius(8);
    text-align: center;
    @include transitions;

    @include breakpoint(phone575) {
        @include font-12-12-semibold;
    }

    @include hover {
        @include setBgColor(darken($tertiary, 15%), $white);
    }
}

.btn-read {
    @include setBgColor($secondary, $white);
    @include font-14-14-semibold;
    padding: length(16);
    text-align: center;
    @include flex-center;
    @include w100;
    @include radius(8);
    text-align: center;
    @include transitions;

    @include breakpoint(phone575) {
        @include font-12-12-semibold;
    }

    @include hover {
        @include setBgColor(darken($secondary, 15%), $white);
    }
}

.btn-seeall {
    @include setBgColor(transparent, $secondary);
    @include border(solid, 1, $secondary);
    @include font-14-14-semibold;
    padding: length(16);
    text-align: center;
    @include flex-center;
    @include w100;
    @include radius(8);
    text-align: center;
    @include transitions;

    @include breakpoint(phone575) {
        @include font-12-12-semibold;
    }

    @include hover {
        @include setBgColor($secondary, $white);
    }
}

.btn-square {
    @include radius(8);
    @include flex-center-column;
    gap: length(14);
    text-align: center;
    padding: length(28);

    .btn-title {
        @include heading-1;
        color: $gray-800;

        @include breakpoint(desktop1199) {
            @include heading-2;
        }
    }

    .btn-text {
        @include heading-5;
        color: $primary;

        @include breakpoint(desktop1199) {
            @include font-24-14-semibold;
        }
    }
}

.btn-history {
    @include setBgColor($tertiary, $white);
    @include radius(6);
    @include font-16-16-semibold;
    padding: length(12) length(20);
    text-align: center;
    @include transitions;

    @include hover {
        @include setBgColor(darken($tertiary, 15%), $white);
    }
}

.btn-cancel {
    @include setBgColor(transparent, $tertiary);
    @include radius(6);
    @include font-12-12-semibold;
    padding: length(12) length(24);
    text-align: center;
    @include transitions;

    @include breakpoint(tab991) {
        @include font-14-14-semibold;
    }

    @include breakpoint(laptop1200) {
        @include font-16-16-semibold;
    }

    @include hover {
        @include setBgColor(transparent, $secondary);
    }
}

.btn-prescript {
    @include setBgColor(transparent, $tertiary);
    @include radius(6);
    @include font-12-12-semibold;
    padding: length(12) length(24);
    text-align: center;
    @include transitions;

    @include breakpoint(tab991) {
        @include font-14-14-semibold;
    }

    @include breakpoint(laptop1200) {
        @include font-16-16-semibold;
    }

    @include hover {
        @include setBgColor(transparent, $secondary);
    }
}

.btn-intake {
    @include setBgColor($tertiary, $white);
    @include radius(6);
    @include font-12-12-semibold;
    padding: length(12) length(24);
    text-align: center;
    @include transitions;

    @include breakpoint(tab991) {
        @include font-14-14-semibold;
    }

    @include breakpoint(laptop1200) {
        @include font-16-16-semibold;
    }

    @include hover {
        @include setBgColor(darken($tertiary, 15%), $white);
    }
}

.btn-me {
    background: $mobileDropdownBg;
}

.btn-couple {
    background: $bg-3;
}

.btn-family {
    background: $bg-2;
}

.btn-group {
    background: $mobileDropdownBg;
}

.btn-readmore {
    @include setBgColor(transparent, $secondary);
    @include font-26-16-semibold;
    @include transitions;

    @include hover {
        color: $tertiary;
    }
}

.btn-booking {
    @include transparent-button;
    @include border(solid, 1, transparent);
    @include radius(6);
    @include font-16-16-semibold;
    padding: length(12) length(24);
    text-align: center;
    @include transitions;
}

.btn-bordered {
    @include setBgColor($white, $tertiary);
    border-color: $tertiary;

    @include hover {
        @include setBgColor($tertiary, $white);
    }
}

.btn-fill {
    @include setBgColor($tertiary, $white);

    @include hover {
        @include setBgColor($white, $tertiary);
        border-color: $tertiary;
    }
}

.btn-print {
    @include setBgColor($secondary, $white);

    @include hover {
        @include setBgColor($white, $secondary);
        border-color: $secondary;
    }
}

.btn-text {
    color: $gray-700;

    @include hover {
        color: $secondary;
    }
}

.btn-continue {
    padding: length(16) length(54);
    @include flex-center;
    gap: length(10);
    @include radius(8);
    background: $tertiary;
    @include transitions;

    .text {
        @include font-16-16-semibold;
        color: $white;
    }

    .icon {
        @include square(length(14));
        @include flex-center;
        overflow: hidden;
    }

    @include hover {
        background: darken($tertiary, 15%);
    }
}