// CHARACTERISTIC CARD START
.cardcharacteristic {
    @include flex-column;
    cursor: pointer;
    gap: length(16);
    padding: length(24);
    background: $white;
    @include radius(15);
    @include w100;

    @include breakpoint(tablet991) {
        padding: length(16);
    }

    .card-cap {
        @include square(length(80));
        @include circle;
        padding: length(16);
        @include flex-center;
        overflow: hidden;
        background: $primary;

        @include breakpoint(phone768) {
            @include square(length(56));
        }
    }

    .cardtitle {
        @include font-21-18-bold;
        color: $gray-800;
        letter-spacing: length(0.08);
    }

    .cardtext {
        @include font-26-16-normal;
        color: $gray-600;
    }
}

// CHARACTERISTIC CARD END

// CHARACTERISTIC CARD START
.cardcharacter {
    @include flex-column;
    gap: length(16);
    padding: length(24);
    background: $white;
    @include radius(15);
    @include w100;

    @include breakpoint(tablet991) {
        padding: length(16);
    }

    .card-cap {
        @include square(length(80));
        @include circle;
        padding: length(16);
        @include flex-center;
        overflow: hidden;
        background: $serviceCardBg;

        @include breakpoint(phone768) {
            @include square(length(56));
        }
    }

    .cardtitle {
        @include font-21-18-bold;
        color: $gray-800;
        letter-spacing: length(0.08);
    }

    .cardtext {
        @include font-26-16-normal;
        color: $gray-600;
    }
}

// CHARACTERISTIC CARD END

// SERVICE CARD START
.cardservice {
    @include flex-column;
    gap: length(16);
    padding: length(24);
    background: $white;
    cursor: pointer;
    @include radius(15);
    @include w100;

    @include breakpoint(tablet991) {
        padding: length(16);
    }

    .card-cap {
        @include square(length(80));
        @include circle;
        padding: length(16);
        @include flex-center;
        overflow: hidden;
        background: $serviceCardBg;

        @include breakpoint(phone768) {
            @include square(length(56));
        }
    }

    .cardtitle {
        @include font-26-16-bold;
        color: $gray-800;
        letter-spacing: length(0.08);

        @include breakpoint(phone480) {
            @include font-24-14-bold;
        }
    }
}

// SERVICE CARD END

// PACKAGE CARD START
.cardpackage {
    padding: length(56);
    background: $white;
    @include border(solid, 1, $gray-700);
    @include radius(15);
    @include flex-center-column;
    gap: length(12);
    cursor: pointer;

    @include breakpoint(desktop1400) {
        padding: length(48);
    }

    @include breakpoint(desktop1199) {
        padding: length(24) length(24) length(48);
    }

    @include breakpoint(tablet991) {
        padding: length(16) length(16) length(32);
    }

    @include breakpoint(phone499) {
        max-width: length(340);
        margin-inline: auto;
    }

    &-header {
        display: flex;
        gap: length(28);

        .headerinfos {
            @include flex-column;
            gap: length(4);

            .packagetitle {
                @include font-21-18-bold;
                color: $secondary;
                letter-spacing: length(-0.08);

                @include breakpoint(phone768) {
                    font-size: length(15);
                }

                @include breakpoint(phone480) {
                    font-size: length(18);
                }
            }

            .packageprice {
                color: $gray-700;

                @include breakpoint(phone768) {
                    font-size: length(16);
                }

                @include breakpoint(phone480) {
                    font-size: length(24);
                }
            }

            .packagedurations {
                @include font-24-14-semibold;
                color: $gray-700;
            }
        }

        .icon {
            width: length(68);
            height: length(74);
            @include flex-center;
            overflow: hidden;

            @include breakpoint(phone575) {
                width: length(40);
                height: length(48);
            }
        }
    }

    &-body {
        margin-bottom: length(8);

        .packagelist {
            @include flex-column;
            gap: length(16);

            &-item {
                @include flex-center-vert;
                gap: length(8);

                .icon {
                    @include square(length(16));
                    @include flex-center;
                    overflow: hidden;
                }

                .packageinfo {
                    width: calc(100% - 1.5rem);

                    .packagetext {
                        @include font-26-16-normal;
                        color: $gray-700;

                        @include breakpoint(phone768) {
                            font-size: length(12)
                        }

                        @include breakpoint(phone575) {
                            font-size: length(11)
                        }

                        @include breakpoint(phone480) {
                            @include font-24-14-normal;
                        }
                    }
                }
            }
        }
    }

    &-footer {
        @include flex-center-column;
        gap: length(10);

        .btn-membership {
            @include flex-center;
            gap: length(10);
            padding: length(16) length(24);
            @include radius(8);
            @include setBgColor($tertiary, $white);
            @include transitions;

            @include breakpoint(phone575) {
                padding: length(12) length(16);
            }

            @include breakpoint(phone480) {
                padding: length(16) length(24);
            }

            .text {
                @include font-14-14-semibold;
                color: $white;
                text-transform: uppercase;

                @include breakpoint(phone575) {
                    @include font-12-12-semibold;
                }
            }

            .icon {
                @include square(length(14));
                @include flex-center;
                overflow: hidden;
            }

            @include hover {
                background: darken($tertiary, 10%);
            }
        }

        .link {
            @include font-12-12-semibold;
            color: $gray-500;
            text-align: center;
            letter-spacing: length(-0.08);

            @include hover {
                text-decoration: underline;
                color: $secondary;
            }
        }
    }
}

// PACKAGE CARD END

// CARD DOCTOR START
.card-doctor {
    background: $white;
    cursor: pointer;
    @include radius(15);
    padding: length(28) length(26) length(30);
    overflow: hidden;
    @include flex-center-column;

    @include breakpoint(desktop1200) {
        padding: length(20) length(18) length(24);
    }

    &-header {
        // max-width: length(260);
        // max-height: length(260);

        .card-thumbnail {
            max-width: length(260);
            max-height: length(260);
            @include double-radius(top, left, 15, top, right, 15);
            overflow: hidden;

            img {
                @include wh100;
                object-fit: cover;
            }
        }
    }

    &-body {
        padding: length(20) length(36) length(18);
        @include flex-center-column;
        gap: length(16);

        @include breakpoint(desktop1400) {
            padding: length(20) length(24) length(18);
        }

        @include breakpoint(desktop1200) {
            padding: length(18) length(16) length(14);
        }

        .doctorname {
            @include flex-center;
            gap: length(12);

            .name {
                @include font-21-18-bold;
                color: $gray-700;
            }

            .status {
                @include square(length(8));
                @include circle;
                background: $gray-300;
                margin-top: length(4);

                &.active {
                    background: $activeBg
                }
            }
        }

        .doctorpost {
            .position {
                @include font-21-18-normal;
                color: $gray-700;
            }
        }

        .ragings {
            @include flex-center-vert;
            gap: length(8);

            .ratingtext {
                @include font-21-18-normal;
                color: $yellow;
            }

            .ratinglist {
                @include list-horizontal;
                margin-top: length(-6);

                &-item {
                    @include square(length(20));
                    overflow: hidden;

                    svg {
                        object-fit: contain;
                    }
                }
            }
        }

        .profilelink {
            .link {
                @include font-14-14-semibold;
                color: $tertiary;
                text-align: center;
                @include transitions;

                @include hover {
                    color: darken($tertiary, 15%);
                }
            }
        }

        .appointmentinfo {
            @include w100;
        }
    }
}

// CARD DOCTOR END

// CARD REVIEW START
.cardreview {
    @include flex-center-column;
    gap: length(10);
    text-align: center;
    background: $white;
    padding: length(16);
    cursor: pointer;

    .reviewlist {
        @include list-horizontal;
        gap: length(2);

        &-item {
            @include flex-center;
            @include square(14);
            overflow: hidden;
        }
    }

    .reviewtext {
        @include font-26-16-normal;
        color: $gray-600;
        margin-bottom: length(14);
    }

    .reviewauthor {
        @include font-24-14-normal;
        color: $black;
    }
}

// CARD REVIEW END

// CARD COUNTER START
.cardcounter {
    @include flex-center-column;
    gap: length(15);
    text-align: center;
    @include radius(8);
    padding: length(14);
    width: calc(25% - 1.5rem);
    height: length(180);

    @include breakpoint(tablet991) {
        width: calc(50% - 1.5rem);
    }

    @include breakpoint(phone575) {
        @include w100;
    }

    .counternumber {
        color: $gray-800;

        @include breakpoint(desktop1400) {
            @include heading-3;
        }

    }

    .countertitle {
        color: $primary;

        @include breakpoint(desktop1400) {
            @include heading-5;
        }
    }
}

// CARD COUNTER END

// CARD CLIENT START
.cardclient {
    @include flex-center;
    overflow: hidden;
    background: $clientBg;
    padding: length(10);
    @include radius(10);
    height: length(200);
    cursor: pointer;

    @include breakpoint(phone499) {
        @include w100;
    }

    img {
        max-width: 100%;
        width: auto;
        object-fit: contain;
    }
}

// CARD CLIENT END

// CARD BRAND START
.cardbrand {
    @include flex-center;
    overflow: hidden;
    background: $clientBg;
    padding: length(10);
    @include radius(10);
    @include square(length(200));

    img {
        max-width: 100%;
        width: auto;
        object-fit: contain;
    }
}

// CARD BRAND END

// CARD BLOG START
.cardblog {
    background: $white;
    @include flex-column;
    @include radius(12);

    &-header {
        padding: length(8);
        @include flex-center;

        .blog-thumbnail {
            @include w100;
            height: length(185);
            @include radius(12);
            overflow: hidden;

            @include breakpoint(phone575) {
                height: length(144);
            }

            img {
                @include wh100;
                object-fit: cover;
                @include transitiontransform;

                @include hover {
                    @include transform(scale(1.05));
                }
            }
        }
    }

    &-body {
        padding: length(12);
        @include flex-column;
        gap: length(12);

        .title-releasedate {
            @include flex-column;
            gap: length(4);
        }

        .blogtitle {
            color: $gray-800;
        }

        .releasedate {
            @include font-24-14-normal;
            color: $gray-600;
        }

        .bloginfo {
            .blogtext {
                @include font-24-14-normal;
                color: $gray-600;
            }
        }

        .bloglink {
            .link {
                @include font-24-14-semibold;
                color: $gray-800;
                @include flex-center-vert;
                @include transitions;

                @include hover {
                    color: $tertiary;
                }
            }
        }

        .watchlink {
            .link {
                @include font-26-16-semibold;
                color: $secondary;
                @include flex-center-vert;
                @include transitions;

                @include hover {
                    color: $tertiary;
                }
            }
        }
    }
}

.bloglink {
    &:hover {
        .cardblog {
            &-body {
                .bloglink {
                    .link {
                        color: $tertiary;
                    }
                }
            }
        }
    }
}

// CARD BLOG END

// CARD BLOG START
.cardpress {
    background: $white;
    @include flex-column;
    @include radius(12);

    &-header {
        padding: length(8);
        @include flex-center;

        .press-thumbnail {
            @include w100;
            height: length(185);
            @include radius(12);
            overflow: hidden;

            img {
                @include wh100;
                object-fit: cover;
                @include transitiontransform;

                @include hover {
                    @include transform(scale(1.05));
                }
            }
        }
    }

    &-body {
        padding: length(12);
        @include flex-column;
        gap: length(12);

        .pressheading-releasedate {
            @include flex-column;
            gap: length(4);

            .pressheading {
                .presstitle {
                    color: $gray-800;
                }
            }

            .releasedate {
                @include font-24-14-normal;
                color: $gray-600;
            }
        }

        .presslink {
            .link {
                @include font-24-14-semibold;
                color: $gray-800;
                @include flex-center-vert;
                @include transitions;

                @include hover {
                    color: $tertiary;
                }
            }
        }
    }
}

.presslink {
    @include hover {
        .cardpress {
            &-body {
                .presslink {
                    .link {
                        color: $tertiary;
                    }
                }
            }
        }
    }
}

// CARD BLOG END

// CARD FEATURE START
.cardfeatured {
    background: $white;
    @include flex-column;
    @include radius(12);

    &-header {
        padding: length(8);
        @include flex-center;

        .featured-thumbnail {
            @include w100;
            height: length(185);
            @include radius(12);
            overflow: hidden;

            img {
                @include wh100;
                object-fit: cover;
                @include transitiontransform;

                @include hover {
                    @include transform(scale(1.05));
                }
            }
        }
    }

    &-body {
        padding: length(12);
        @include flex-column;
        gap: length(12);

        .featuredheading-releasedate {
            @include flex-column;
            gap: length(4);

            .featuredheading {
                .featuredtitle {
                    color: $gray-800;
                }
            }

            .releasedate {
                @include font-24-14-normal;
                color: $gray-600;
            }
        }

        .featuredlink {
            .link {
                @include font-24-14-semibold;
                color: $gray-800;
                @include flex-center-vert;
                @include transitions;

                @include hover {
                    color: $tertiary;
                }

                @include breakpoint(phone499) {
                    text-align: center;
                    justify-content: center;
                }
            }
        }
    }
}


.featuredlink {
    @include hover {
        .cardfeatured {
            &-body {
                .featuredlink {
                    .link {
                        color: $tertiary;
                    }
                }
            }
        }
    }
}

// CARD FEATURE END

// CARD WELLNESSAPROACH START
.cardwellnessaproach {
    @include w100;
    // min-height: length(252);
    padding: length(24);
    background: $white;
    @include radius(5);
    @include flex-column;
    gap: length(18);

    @include breakpoint(tablet991) {
        width: 60%;
        margin-inline: auto;
    }

    @include breakpoint(phone768) {
        @include w100;
    }

    &-header {
        @include flex-column;
        gap: length(16);

        .cardcap {
            @include square(length(80));
            @include flex-center;
            overflow: hidden;
            @include circle;
            background: $cardCapBg;
        }

        .cardtitle {
            @include font-28-20-semibold;
            color: $gray-800;
        }
    }

    &-body {
        display: flex;
        gap: length(16);

        .cardlist {
            padding-left: length(16);

            &-item {
                @include font-24-14-normal;
                color: $gray-600;
            }
        }
    }
}

// CARD WELLNESSAPROACH END

// CARD COMPREHENSIVE START
.cardcomprehensive {
    background: $bg-1;
    padding: length(66) length(100);

    @include breakpoint(phone768) {
        padding: length(40);
    }

    @include breakpoint(phone575) {
        padding: length(20);
    }

    .cardinfo {
        @include flex-column;
        gap: length(16);

        .cardtitle {
            color: $secondary;

            @include breakpoint(phone575) {
                @include heading-3;
            }

            @include breakpoint(phone500) {
                @include heading-4;
            }
        }

        .cardtext {
            @include font-26-16-normal;
            color: $gray-600;

            @include breakpoint(phone500) {
                @include font-24-14-normal;
            }
        }
    }
}

// CARD COMPREHENSIVE END

// CARD TEAM START
.cardteam {
    @include flex-column;
    gap: length(16);
    padding: length(24);
    background: $white;
    @include radius(15);
    height: length(286);

    &-header {
        .cardcap {
            background: $serviceCardBg;
            @include square(length(80));
            @include circle;
        }
    }

    &-body {
        @include flex-column;
        gap: length(16);

        .cardtitle {
            color: $gray-800;

            @include breakpoint(desktop1400) {
                @include heading-6;
            }

            @include breakpoint(tablet991) {
                @include heading-4;
            }
        }

        .cardtext {
            @include font-26-16-normal;
            color: $gray-600;
            @include line-clamp-3;

            @include breakpoint(desktop1400) {
                @include font-24-14-normal;
                @include line-clamp-4;
            }

            @include breakpoint(tablet991) {
                @include font-26-16-normal;
                @include line-clamp-3;
            }
        }
    }
}

// CARD TEAM END


// CARD CHOOSE START
.cardchoose {
    position: relative;

    img {
        @include wh100;
    }

    &-action {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        z-index: 700;

        .btn-playpause {
            @include transparent-button;
            @include square(length(72));
            @include flex-center;
            @include circle;
            overflow: hidden;

            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                @include transform(translate(-50%, -50%));
                display: block;
                @include square(length(72));
                background: transparent;
                @include circle;
                z-index: 100;
            }

            svg {
                @include wh100;
            }

            &::before {
                background: rgba($white, 0.75);
                animation: pulse-border 1500ms ease-out infinite;
            }

            &::after {
                z-index: 1;
                transition: all 200ms;
            }
        }
    }

    @include breakpoint(phone499) {
        text-align: center;
    }
}

// CARD CHOOSE END

// CARD PROVIDE-WORK START
.cardproviderwork {
    display: flex;
    gap: length(18);

    &-cap {
        background: $providerCardBg;
        @include square(length(40));
        @include circle;
        margin-top: length(4);
    }

    &-body {
        .cardproviderworktext {
            @include font-26-16-normal;
            color: $black;
        }
    }
}

// CARD PROVIDE-WORK END

// CARD APPROACH START
.cardapproach {
    background: $white;
    width: calc(100% / 3);
    @include border-single(left, solid, 16, transparent);
    position: relative;
    height: length(132);

    &-details {
        @include h100;
        @include flex-center-vert;

        .approachcounter {
            @include flex-center;
            overflow: hidden;

            .icon {
                height: length(104);
                position: relative;
                overflow: hidden;

                @include breakpoint(desktop1400) {
                    height: length(80);
                }

                @include breakpoint(desktop1200) {
                    height: length(64);
                }

                svg {
                    @include wh100;
                }

                .counter {
                    position: absolute;
                    top: 45%;
                    left: 40%;
                    @include transform(translate(-45%, -45%));
                    @include heading-1;
                    color: $white;

                    @include breakpoint(desktop1200) {
                        @include heading-2;
                    }
                }
            }
        }

        .cardinfo {
            width: calc(100% - 9.375rem);
            height: 100%;
            position: relative;
            @include flex-center-column;
            gap: length(14);
            text-align: center;

            .icon {
                @include square(length(56));
                @include circle;
                overflow: hidden;
                @include flex-center;
                background: $providerCardBg;
            }

            .cardtitle {
                color: $black;

                @include breakpoint(desktop1200) {
                    @include heading-3;
                }
            }
        }
    }

    // CARD HOVER INFO START
    .hoverinfo {
        display: none;
        background: $white;
        box-shadow: $box-shadow-3;
        @include border-single(left, solid, 16, transparent);
        @include border-single(right, solid, 16, transparent);
        position: absolute;
        top: 0;
        left: length(-16);
        right: length(-16);
        width: calc(100% + 2rem);
        height: length(252);
        gap: length(18);
        padding: length(24) length(48);
        @extend %animation;
        @extend %slideDownIn;

        @include breakpoint(desktop1200) {
            padding: length(24);
        }

        &-header {
            @include flex-center-column;
            gap: length(14);
            text-align: center;

            .icon {
                @include square(length(56));
                @include circle;
                overflow: hidden;
                @include flex-center;
                background: $providerCardBg;
            }

            .cardtitle {
                color: $black;

                @include breakpoint(desktop1200) {
                    @include heading-3;
                }
            }
        }

        &-body {
            .infotext {
                @include font-26-16-normal;
                color: $black;
                text-align: center;
                @include line-clamp-3;
                height: length(78);
            }
        }
    }

    // CARD HOVER INFO END

    &:nth-child(1) {
        border-color: $tertiary;

        .hoverinfo {
            border-left-color: $tertiary;
            border-right-color: $secondary;
        }
    }

    &:nth-child(2) {
        border-color: $secondary;

        .hoverinfo {
            border-left-color: $secondary;
            border-right-color: $primary;
        }
    }

    &:nth-child(3) {
        border-color: $primary;

        .hoverinfo {
            border-left-color: $primary;
        }
    }

    @include hover {
        .hoverinfo {
            @include flex-center-column;
        }
    }
}

// CARD APPROACH END

// CARD PHONE-APPROACH START
.cardphoneapproach {
    background: $white;
    @include border-single(top, solid, 16, transparent);
    position: relative;
    @include w100;
    height: length(344);

    &-details {
        @include h100;
        @include flex-center-column;
        margin-top: length(-2);

        .approachcounter {
            @include flex-center;

            .icon {
                width: length(150);
                height: length(104);
                position: relative;
                overflow: hidden;

                svg {
                    @include wh100;
                }

                .counter {
                    position: absolute;
                    top: 40%;
                    left: 50%;
                    @include transform(translate(-40%, -50%));
                    @include heading-1;
                    color: $white;

                    @include breakpoint(desktop1200) {
                        @include heading-2;
                    }
                }
            }
        }

        .cardinfo {
            width: calc(100% - 9.375rem);
            height: 100%;
            position: relative;
            @include flex-center-column;
            gap: length(14);
            text-align: center;

            .icon {
                @include square(length(56));
                @include circle;
                overflow: hidden;
                @include flex-center;
                background: $providerCardBg;
            }

            .cardtitle {
                color: $black;

                @include breakpoint(desktop1200) {
                    @include heading-3;
                }
            }
        }
    }

    // CARD HOVER INFO START
    .hoverinfo {
        display: none;
        background: $white;
        box-shadow: $box-shadow-3;
        @include border-single(top, solid, 16, transparent);
        @include border-single(bottom, solid, 16, transparent);
        position: absolute;
        top: length(-16);
        bottom: length(-16);
        left: length(0);
        right: length(0);
        height: calc(100% + 2rem);
        @include w100;
        gap: length(18);
        padding: length(24) length(48);
        @extend %animation;
        @extend %slideDownIn;

        @include breakpoint(desktop1200) {
            padding: length(24);
        }

        &-header {
            @include flex-center-column;
            gap: length(14);
            text-align: center;

            .icon {
                @include square(length(56));
                @include circle;
                overflow: hidden;
                @include flex-center;
                background: $providerCardBg;
            }

            .cardtitle {
                color: $black;

                @include breakpoint(desktop1200) {
                    @include heading-3;
                }
            }
        }

        &-body {
            .infotext {
                @include font-26-16-normal;
                color: $black;
                text-align: center;
                @include line-clamp-3;
                height: length(78);
            }
        }
    }

    // CARD HOVER INFO END

    &:nth-child(1) {
        border-color: $tertiary;

        .hoverinfo {
            border-top-color: $tertiary;
            border-bottom-color: $secondary;
        }
    }

    &:nth-child(2) {
        border-color: $secondary;

        .hoverinfo {
            border-top-color: $secondary;
            border-bottom-color: $primary;
        }
    }

    &:nth-child(3) {
        border-color: $primary;

        .hoverinfo {
            border-top-color: $primary;
        }
    }

    @include hover {
        .hoverinfo {
            @include flex-center-column;
        }
    }
}

// CARD PHONE-APPROACH END

// CARD LEADERSHIP START
.card-leadership {
    @include flex-column;
    gap: length(16);
    overflow: hidden;

    &-header {
        @include flex-center;
        height: length(505);
        overflow: hidden;

        @include breakpoint(tablet991) {
            height: length(360);
        }

        @include breakpoint(phone768) {
            height: length(300);
        }

        img {
            @include wh100;
            object-fit: cover;
            @include transitiontransform;

            @include breakpoint(phone575) {
                object-fit: contain;
            }

            @include hover {
                @include transform(scale(1.05));
            }
        }
    }

    &-body {
        .leadername {
            @include heading-4;
            color: $gray-700;

            @include breakpoint(phone575) {
                text-align: center;
            }
        }

        .leaderposition {
            @include font-26-16-semibold;
            color: $gray-600;

            @include breakpoint(phone575) {
                text-align: center;
            }
        }
    }
}

// CARD LEADERSHIP END

// CARD LEADSHIP START
.card-leadship {
    @include flex-column;
    gap: length(16);
    overflow: hidden;

    &-header {
        @include flex-center;
        height: length(371);
        overflow: hidden;

        @include breakpoint(tablet991) {
            height: length(360);
        }

        @include breakpoint(phone768) {
            height: length(300);
        }

        img {
            @include wh100;
            @include transitiontransform;
            object-fit: cover;

            @include breakpoint(phone575) {
                object-fit: contain;
            }

            @include hover {
                @include transform(scale(1.05));
            }
        }
    }

    &-body {
        .leadername {
            @include heading-4;
            color: $gray-700;

            @include breakpoint(phone575) {
                text-align: center;
            }
        }

        .leaderposition {
            @include font-26-16-semibold;
            color: $gray-600;

            @include breakpoint(phone575) {
                text-align: center;
            }
        }
    }
}

// CARD LEADSHIP END

// CARD ADVISOR START
.cardadvisor {
    @include flex-center-column;
    gap: length(22);
    padding: length(80) length(53);
    background: $white;
    @include radius(15);
    overflow: hidden;

    &-header {
        @include flex-center;

        .cardadvisor-thumbnail {
            @include square(length(250));
            @include circle;
            background: $white;
            padding: length(16);
            overflow: hidden;
            @include border(solid, 5, $primary);

            img {
                @include wh100;
                object-fit: cover;
            }
        }
    }

    &-body {
        @include flex-center-column;
        gap: length(6);
        text-align: center;

        .name-post {
            @include flex-center-column;
            gap: length(6);

            .name {
                @include font-28-20-semibold;
                color: $gray-800;
            }

            .post {
                @include font-28-20-semibold;
                color: $gray-600;
            }
        }

        .organization {
            @include font-24-16-normal;
            color: $gray-600;
        }
    }
}

// CARD ADVISOR END


/* CARD SERVICE-INFO START */
.card-serviceinfo {
    overflow: hidden;
    position: relative;

    &-thumbnail {
        @include w100;
        height: length(720);
        overflow: hidden;

        img {
            @include wh100;
            object-fit: cover;
            @include transitiontransform;

            @include hover {
                // @include transform(scale(1.05));
            }
        }
    }

    .service-detail {
        position: absolute;
        top: length(0);
        left: length(0);
        @include wh100;
        z-index: 10;
        padding: length(34) length(28);
        @include flex-column;
        gap: length(24);

        .service-header {
            .guideinfo {
                position: relative;
                z-index: 12;

                h3 {
                    color: $white;
                }
            }
        }

        .service-body {
            display: none;

            .servicetext {
                @include font-30-18-normal;
                color: $white;
            }
        }
    }

    @include hover {
        .service-detail {
            background: rgba($black, 0.5);

            .service-body {
                display: block;
            }
        }
    }
}

.counter-1 {
    background: $footerBg;
}

.counter-2 {
    background: darken($bg-1, 2%);
}

.counter-3 {
    background: $bg-2;
}

.counter-4 {
    background: $bg-3;
}

.owl-carousel {
    .owl-item {
        img {
            @include w100;
            max-width: 100%;
        }
    }
}