.cardcharacteristic {
    @include flex-column;
    gap: length(16);
    padding: length(24);
    background: $white;
    @include radius(15);
    @include w100;

    @include breakpoint(tablet991) {
        padding: length(16);
    }

    .card-cap {
        @include square(length(80));
        @include circle;
        padding: length(16);
        @include flex-center;
        overflow: hidden;
        background: $primary;

        @include breakpoint(phone768) {
            @include square(length(56));
        }
    }

    .cardtitle {
        @include font-21-18-bold;
        color: $gray-800;
        letter-spacing: length(0.08);
    }

    .cardtext {
        @include font-24-16-normal;
        color: $gray-600;
    }
}