// SITE HEADER START

.header {
    background: $headerMobileBg;
    @include flex-center;
    height: length(100);

    @include breakpoint(tab991) {
        background: $white;
    }

    &-content {
        @include flex-center-vert;

        @include breakpoint(tab991) {
            justify-content: space-between;
        }

        // HAMBURGER MENU START
        .btn-hamburger {
            @include square(length(24));
            @include flex-center;
            @include transparent-button;
            overflow: hidden;

            @include breakpoint(tab991) {
                display: none;
            }
        }

        // HAMBURGER MENU END

        // HEADER MENU START
        .headermenu {
            display: none;

            @include breakpoint(tab991) {
                @include list-horizontal;
                flex-grow: 1;
                justify-content: center;
            }

            &-item {
                padding: length(42) length(20);

                @include hover {
                    .headermenu-link:not(.active) {
                        color: $tertiary;
                        border-color: $tertiary;
                    }
                }
            }

            &-link {
                @include font-14-14-semibold;
                color: $gray-800;
                @include transitions;
                @include flex-center-vert;
                gap: length(4);
                @include border-single(bottom, solid, 2, transparent);

                span {
                    display: block;

                    @include breakpoint(desktop1400) {
                        display: none;
                    }
                }

                &.active {
                    color: $tertiary;
                    border-color: $tertiary;
                }
            }

            .mindlydropdown {
                .mindlysubmenu {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    background: $white;
                    @include w100;
                    min-height: length(362);
                    padding: length(48);
                    display: none;
                    @extend %animation;
                    @extend %slideUpIn;

                    .mindlysublist {
                        @include list-vertical;
                        max-width: length(300);

                        &-item {
                            padding: length(8) length(0);

                            @include hover {
                                .mindlysublist-link:not(.active) {
                                    color: $tertiary;
                                    border-color: $tertiary;
                                }
                            }
                        }

                        &-link {
                            display: inline-block;
                            @include font-20-14-medium;
                            color: $gray-800;
                            @include transitions;
                            @include border-single(bottom, solid, 2, transparent);

                            &.active {
                                color: $tertiary;
                                border-color: $tertiary;
                            }
                        }
                    }
                }

                @include hover {
                    .mindlysubmenu {
                        @include flex-center;
                        align-items: flex-start;
                    }
                }
            }
        }

        // HEADER MENU END

        // SITE LOGO START
        .sitelogo {
            flex-grow: 1;
            @include flex-center;
            overflow: hidden;

            @include breakpoint(tab991) {
                flex-grow: 0;
                width: length(158);
            }

            .logolink {
                @include flex-center;
                overflow: hidden;
                width: length(158);
                height: length(34);

                img {
                    @include wh100;
                }
            }
        }

        // SITE LOGO END

        // AUTHENTICATION MENU START
        .authentication-menu {
            .authenticationbox {
                display: none;

                @include breakpoint(tab991) {
                    display: block;
                }
            }

            // AUTHENTICATION LIST START
            .authenticationlist {
                @include list-horizontal;
                gap: length(24);

                @include breakpoint(desktop1199) {
                    gap: length(16);
                }
            }

            // AUTHENTICATION LIST END

            // USER PROFILE START
            .userprofile {
                .desktop-profile {
                    position: relative;
                    @include flex-center-vert;

                    @include breakpoint(tablet991) {
                        display: none;
                    }

                    @include hover {
                        .desktopdropdown {
                            @include flex-column;
                        }
                    }

                    .dropdownlink {
                        @include flex-center-vert;
                        gap: length(16);
                        padding: length(30) length(20);

                        @include breakpoint(desktop1199) {
                            padding-right: 0;
                            padding-left: 0;
                        }

                        .profile-thumb {
                            @include square(length(36));
                            @include flex-center;
                            @include circle;
                            overflow: hidden;

                            img {
                                @include wh100;
                                object-fit: cover;
                            }
                        }

                        .name-icon {
                            @include flex-center-vert;
                            gap: length(8);

                            .name {
                                @include font-20-14-semibold;
                                color: $dateColor;
                            }

                            .icon {
                                @include square(length(24));
                                @include flex-center;
                                overflow: hidden;

                                svg {
                                    @include wh100;
                                }
                            }
                        }
                    }

                    .desktopdropdown {
                        width: length(350);
                        background: $white;
                        box-shadow: $dropdownshadow;
                        gap: length(196);
                        position: absolute;
                        top: 100%;
                        right: 0;
                        padding: length(14) length(0) length(20);
                        @extend %animation;
                        @extend %slideUpIn;
                        display: none;

                        .submenu {
                            .sublink {
                                @include flex-center-vert;
                                gap: length(14);
                                padding: length(8) length(22);

                                .icon {
                                    @include square(length(36));
                                    @include flex-center;
                                    @include circle;
                                    overflow: hidden;
                                }

                                .description {
                                    @include flex-column;

                                    .title {
                                        @include font-26-16-semibold;
                                        color: $gray-700;
                                    }

                                    .text {
                                        @include font-24-14-medium;
                                        color: $gray-600;
                                    }
                                }

                                @include hover {
                                    background: $gray-100;
                                }
                            }
                        }

                        .logoutmenu {
                            .sublink {
                                @include flex-center-vert;
                                gap: length(14);
                                padding: length(8) length(22);

                                .icon {
                                    @include square(length(36));
                                    @include flex-center;
                                    @include circle;
                                    overflow: hidden;
                                }

                                .description {
                                    @include flex-column;

                                    .title {
                                        color: $gray-700;
                                    }

                                    .text {
                                        @include font-24-14-medium;
                                        color: $gray-600;
                                    }
                                }

                                @include hover {
                                    background: $gray-100;
                                }
                            }
                        }
                    }
                }

                .mobileprofile {
                    display: none;

                    @include breakpoint(tablet991) {
                        @include flex-center;
                        @include square(length(44));
                    }

                    .profilelink {
                        @include transparent-button;
                        @include square(length(44));
                        @include flex-center;
                        overflow: hidden;

                        @include breakpoint(tab991) {
                            svg {
                                circle {
                                    fill: $headerMobileBg;
                                }
                            }
                        }
                    }
                }
            }

            // USER PROFILE END
        }

        // AUTHENTICATION MENU END
    }
}

// SITE HEADER END


// REGISTER HEADER START

.registerheader {
    background: $white;
    height: length(100);
    padding: length(8);
    @include flex-center;

    &-content {
        @include flex-center-between;

        // SITE LOGO START
        .sitelogo {
            @include flex-center;
            overflow: hidden;

            @include breakpoint(tab991) {
                width: length(158);
            }

            .logolink {
                @include flex-center;
                overflow: hidden;
                width: length(158);
                height: length(34);

                img {
                    @include wh100;
                }
            }
        }
    }
}

// REGISTER HEADER END