// SITE HEADER START

.header {
    background: $headerMobileBg;
    padding: length(8) length(0);
    @include flex-center;

    @include breakpoint(tab991) {
        background: $white;
        height: length(100);
    }

    &-content {
        @include flex-center-vert;

        @include breakpoint(tab991) {
            justify-content: space-between;
        }

        // HAMBURGER MENU START
        .btn-hamburger {
            @include square(length(24));
            @include flex-center;
            @include transparent-button;
            overflow: hidden;

            @include breakpoint(tab991) {
                display: none;
            }
        }

        // HAMBURGER MENU END

        // HEADER MENU START
        .headermenu {
            display: none;

            @include breakpoint(tab991) {
                @include list-horizontal;
                flex-grow: 1;
                gap: length(40);
                justify-content: center;
            }

            &-link {
                @include font-14-14-semibold;
                color: $gray-800;
                @include transitions;
                @include flex-center-vert;
                gap: length(4);

                span {
                    display: block;

                    @include breakpoint(desktop1400) {
                        display: none;
                    }
                }

                &:hover:not(.active) {
                    color: $tertiary;
                }

                &.active {
                    color: $tertiary;
                }
            }

            .mindlydropdown {
                position: relative;

                .mindlysubmenu {
                    position: absolute;
                    top: 100%;
                    background: rgba($white, 0.75);
                    min-width: length(140);
                    box-shadow: $box-shadow-1;
                    @extend %animation;
                    @extend %slideUpIn;
                    display: none;

                    &-link {
                        padding: length(12) length(16);
                        @include w100;
                        @include font-14-14-semibold;
                        @include setBgColor($white, $gray-800);
                        @include transitions;

                        @include hover {
                            @include setBgColor($hoverBg, $gray-800);
                        }
                    }
                }

                @include hover {
                    .mindlysubmenu {
                        @include list-vertical;
                    }
                }
            }
        }

        // HEADER MENU END

        // SITE LOGO START
        .sitelogo {
            flex-grow: 1;
            @include flex-center;
            overflow: hidden;

            @include breakpoint(tab991) {
                flex-grow: 0;
                width: length(140);
            }

            .logolink {
                @include flex-center;
                overflow: hidden;
                width: length(158);
                height: length(34);

                img {
                    @include wh100;
                }
            }
        }

        // SITE LOGO END

        // AUTHENTICATION MENU START
        .authentication-menu {
            .authenticationbox {
                display: none;

                @include breakpoint(tab991) {
                    display: block;
                }
            }

            // AUTHENTICATION LIST START
            .authenticationlist {
                @include list-horizontal;
                gap: length(24);
            }

            // AUTHENTICATION LIST END

            // USER PROFILE START
            .userprofile {
                .profilelink {
                    @include square(length(44));
                    @include flex-center;
                    overflow: hidden;

                    @include breakpoint(tab991) {
                        svg {
                            circle {
                                fill: $headerMobileBg;
                            }
                        }
                    }
                }
            }

            // USER PROFILE END
        }

        // AUTHENTICATION MENU END
    }
}

// SITE HEADER END