// UPLOAD MEDALLION MODAL START

.modal {
    &-content {
        @include radius(20);
    }

    &-header {
        border-bottom: length(0);
        padding: length(32);

        @include breakpoint(phone575) {
            padding: length(16);
        }

        .btn-close {
            @include transparent-button;
            @include square(length(28));
            @include circle;
            @include flex-center;
            opacity: 1;
            margin: length(0);
            padding: length(0);

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }

    // &-body {
        
    // }
}

// UPLOAD MEDALLION MODAL END

.videomodal {
    .modal-content {
        @include radius(0);
        border: length(0);
    }

    .modal-body {
        position: relative;
        min-height: length(480);

        @include breakpoint(phone768) {
            min-height: length(300);
        }

        .btn-close {
            position: absolute;
            right: length(-96);
            top: length(0);
            @include square(length(80));
            @include flex-center;
            overflow: hidden;
            background: transparent;
            @include circle;
            margin: length(0);
            padding: length(0);
            opacity: 1;
            z-index: 100;

            @include breakpoint(tablet991) {
                @include square(length(48));
                right: length(-58);
            }

            @include breakpoint(phone768) {
                right: length(20);
                top: length(20);
            }

            @include breakpoint(phone575) {
                right: length(16);
                top: length(16);
            }

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }

        iframe {
            min-height: length(480);

            @include breakpoint(phone768) {
                min-height: length(300);
            }
        }
    }
}

.appointmentModal {
    .modal-content {
        border: 0;
        @include radius(8);
    }

    .modal-header {
        position: relative;
        margin: 0;
        padding: 0;
        border-radius: 0;

        .btn-close {
            position: absolute;
            @include square(length(60));
            @include circle;
            background: $white;
            box-shadow: $modalBtnShadow;
            top: 0;
            right: length(-76);
            z-index: 810;

            @include breakpoint(phone768) {
                @include square(length(40));
                padding: length(8);
                right: length(20);
                top: length(20);
            }

            svg {
                @include transitiontransform;

                path {
                    @include transitions;
                }
            }

            @include hover {
                svg {
                    @include transform(rotate(90deg));

                    path {
                        fill: red;
                    }
                }
            }
        }
    }

    .modal-body {
        border-radius: 0;
        padding: 0;

        .incomplete {
            @include wh100;
            @include flex-center-column;
            gap: length(40);
            text-align: center;
            padding: length(58) length(124) length(70);

            @include breakpoint(tablet991) {
                padding: length(48) length(64) length(70);
            }

            @include breakpoint(phone575) {
                padding: length(36) length(20) length(48);
            }

            &-header {
                @include flex-center;

                .icon {
                    @include square(length(140));
                    @include flex-center;
                    overflow: hidden;

                    @include breakpoint(phone575) {
                        @include square(length(80));
                    }

                    svg {
                        @include wh100;
                    }
                }
            }

            &-body {
                @include flex-center-column;
                gap: length(60);

                .profileprogress {
                    @include flex-center-column;
                    gap: length(12);
                    @include w100;

                    .progress {
                        @include w100;
                        height: length(12);
                        @include radius(50);
                        background: $gray-200;

                        @include breakpoint(phone575) {
                            height: length(8);
                        }

                        &-bar {
                            background: $primary;
                            @include radius(50);
                            height: length(12);

                            @include breakpoint(phone575) {
                                height: length(8);
                            }
                        }
                    }

                    .progresstext {
                        color: $gray-600;
                        @include font-26-16-semibold;
                    }
                }

                .progressdetail {
                    @include flex-center-column;
                    gap: length(16);

                    .title {
                        color: $gray-700;

                        @include breakpoint(tablet991) {
                            @include heading-2;
                        }

                        @include breakpoint(phone575) {
                            @include heading-3;
                        }
                    }

                    .textinfo {
                        max-width: length(418);

                        .text {
                            color: $gray-600;
                            @include font-26-16-semibold;
                        }
                    }
                }
            }

            &-footer {
                @include flex-center;

                .btn-profile {
                    @include radius(8);
                    @include font-16-16-semibold;
                    @include setBgColor($tertiary, $white);
                    padding: length(16) length(60);
                    text-align: center;
                    @include transitions;

                    @include hover {
                        @include setBgColor(darken($tertiary, 15%), $white);
                    }
                }
            }
        }

        .appointmentdescript {
            @include wh100;
            padding: length(32) length(20) length(56);

            &-header {
                @include flex-center;

                .logo {
                    width: length(158);
                    height: length(34);
                    @include flex-center;
                    overflow: hidden;

                    img {
                        @include wh100;
                        object-fit: contain;
                    }
                }
            }

            &-body {
                padding-top: length(64);

                .providermenber,
                .datepackage {
                    padding: length(0) length(48) length(0);
                    @include flex-between;

                    @include breakpoint(desktop1199) {
                        padding: length(0);
                    }

                    @include breakpoint(tablet991) {
                        flex-direction: column;
                        align-items: flex-start;
                        gap: length(24);
                    }
                }

                .providermenber {

                    .provider,
                    .member {
                        width: 50%;

                        @include breakpoint(tablet991) {
                            @include w100;
                        }
                    }

                    .provider {
                        @include flex-column;
                        gap: length(24);

                        .providername {
                            @include flex-center-vert;
                            gap: length(80);

                            @include breakpoint(desktop1199) {
                                gap: length(40);
                            }

                            .title {
                                @include font-26-16-semibold;
                                color: $gray-600;
                                width: length(115);

                                @include breakpoint(phone575) {
                                    @include font-24-14-semibold;
                                    width: length(110);
                                }

                                @include breakpoint(phone500) {
                                    @include font-20-12-semibold;
                                    width: length(88);
                                }
                            }

                            .name {
                                @include font-26-16-semibold;
                                color: $gray-800;

                                @include breakpoint(phone575) {
                                    @include font-24-14-semibold;
                                }

                                @include breakpoint(phone500) {
                                    @include font-20-12-semibold;
                                }
                            }
                        }

                        .providerid {
                            @include flex-center-vert;
                            gap: length(80);

                            @include breakpoint(desktop1199) {
                                gap: length(40);
                            }

                            .title {
                                width: length(115);
                                @include font-26-16-semibold;
                                color: $gray-600;

                                @include breakpoint(phone575) {
                                    @include font-24-14-semibold;
                                    width: length(110);
                                }

                                @include breakpoint(phone500) {
                                    @include font-20-12-semibold;
                                    width: length(88);
                                }
                            }

                            .id {
                                @include font-26-16-semibold;
                                color: $gray-800;

                                @include breakpoint(phone575) {
                                    @include font-24-14-semibold;
                                }

                                @include breakpoint(phone500) {
                                    @include font-20-12-semibold;
                                }
                            }
                        }
                    }

                    .member {
                        @include flex-column;
                        gap: length(24);

                        .membername,
                        .memberid {
                            @include flex-center-vert;
                            gap: length(80);

                            @include breakpoint(desktop1199) {
                                gap: length(40);
                            }
                        }

                        .membername {
                            .title {
                                @include font-26-16-semibold;
                                color: $gray-600;
                                width: length(115);

                                @include breakpoint(phone575) {
                                    @include font-24-14-semibold;
                                    width: length(110);
                                }

                                @include breakpoint(phone500) {
                                    @include font-20-12-semibold;
                                    width: length(88);
                                }
                            }

                            .name {
                                @include font-26-16-semibold;
                                color: $gray-800;

                                @include breakpoint(phone575) {
                                    @include font-24-14-semibold;
                                }

                                @include breakpoint(phone500) {
                                    @include font-20-12-semibold;
                                }
                            }
                        }

                        .memberid {
                            .title {
                                width: length(115);
                                @include font-26-16-semibold;
                                color: $gray-600;

                                @include breakpoint(phone575) {
                                    @include font-24-14-semibold;
                                    width: length(110);
                                }

                                @include breakpoint(phone500) {
                                    @include font-20-12-semibold;
                                    width: length(88);
                                }
                            }

                            .id {
                                @include font-26-16-semibold;
                                color: $gray-800;

                                @include breakpoint(phone575) {
                                    @include font-24-14-semibold;
                                }

                                @include breakpoint(phone500) {
                                    @include font-20-12-semibold;
                                }
                            }
                        }
                    }
                }

                .datepackage {

                    .datetime,
                    .packagefee {
                        width: 50%;

                        @include breakpoint(tablet991) {
                            @include w100;
                        }
                    }

                    .datetime {
                        @include flex-column;
                        gap: length(24);

                        .date,
                        .time {
                            @include flex-center-vert;
                            gap: length(80);

                            @include breakpoint(desktop1199) {
                                gap: length(40);
                            }
                        }

                        .date {

                            .title {
                                @include font-26-16-semibold;
                                color: $gray-600;
                                width: length(115);

                                @include breakpoint(phone575) {
                                    @include font-24-14-semibold;
                                    width: length(110);
                                }

                                @include breakpoint(phone500) {
                                    @include font-20-12-semibold;
                                    width: length(88);
                                }
                            }

                            .text {
                                @include font-26-16-semibold;
                                color: $gray-800;

                                @include breakpoint(phone575) {
                                    @include font-24-14-semibold;
                                }

                                @include breakpoint(phone500) {
                                    @include font-20-12-semibold;
                                }
                            }
                        }

                        .time {
                            .title {
                                @include font-26-16-semibold;
                                color: $gray-600;
                                width: length(115);

                                @include breakpoint(phone575) {
                                    @include font-24-14-semibold;
                                    width: length(110);
                                }

                                @include breakpoint(phone500) {
                                    @include font-20-12-semibold;
                                    width: length(88);
                                }
                            }

                            .text {
                                @include font-26-16-semibold;
                                color: $gray-800;

                                @include breakpoint(phone575) {
                                    @include font-24-14-semibold;
                                }

                                @include breakpoint(phone500) {
                                    @include font-20-12-semibold;
                                }
                            }
                        }
                    }

                    .packagefee {
                        @include flex-column;
                        gap: length(24);

                        .pack,
                        .fees {
                            @include flex-center-vert;
                            gap: length(80);

                            @include breakpoint(desktop1199) {
                                gap: length(40);
                            }
                        }

                        .pack {
                            .title {
                                @include font-26-16-semibold;
                                color: $gray-600;
                                width: length(115);

                                @include breakpoint(phone575) {
                                    @include font-24-14-semibold;
                                    width: length(110);
                                }

                                @include breakpoint(phone500) {
                                    @include font-20-12-semibold;
                                    width: length(88);
                                }
                            }

                            .text {
                                @include font-26-16-semibold;
                                color: $gray-800;

                                @include breakpoint(phone575) {
                                    @include font-24-14-semibold;
                                }

                                @include breakpoint(phone500) {
                                    @include font-20-12-semibold;
                                }
                            }
                        }

                        .fees {
                            .title {
                                @include font-26-16-semibold;
                                color: $gray-600;
                                width: length(115);

                                @include breakpoint(phone575) {
                                    @include font-24-14-semibold;
                                    width: length(110);
                                }

                                @include breakpoint(phone500) {
                                    @include font-20-12-semibold;
                                    width: length(88);
                                }
                            }

                            .text {
                                @include font-26-16-semibold;
                                color: $gray-800;

                                @include breakpoint(phone575) {
                                    @include font-24-14-semibold;
                                }

                                @include breakpoint(phone500) {
                                    @include font-20-12-semibold;
                                }
                            }
                        }
                    }
                }

                .divider {
                    @include w100;
                    height: length(1);
                    background: $gray-300;
                    margin: length(40) length(0);
                }
            }

            &-footer {
                padding: length(0) length(48) length(0);
                @include flex-center-column;
                gap: length(38);
                text-align: center;

                @include breakpoint(phone575) {
                    padding: length(0);
                }

                .textinfo {
                    max-width: length(456);

                    .text {
                        @include font-26-16-semibold;
                        color: $gray-600;

                        span {
                            color: $gray-800;
                        }

                        @include breakpoint(phone575) {
                            @include font-24-14-semibold;
                        }
                    }
                }

                .confirmbox {
                    @include flex-center;

                    .btn-confirm {
                        @include radius(8);
                        @include font-16-16-semibold;
                        @include setBgColor($tertiary, $white);
                        padding: length(16) length(60);
                        text-align: center;
                        @include transitions;

                        @include hover {
                            @include setBgColor(darken($tertiary, 15%), $white);
                        }
                    }
                }
            }
        }

        .appointmentsuccess {
            padding: length(56) length(20) length(90);
            @include flex-center-column;
            gap: length(40);

            .icon {
                @include square(length(140));
                @include flex-center;
                overflow: hidden;

                @include breakpoint(phone575) {
                    @include square(length(80));
                }

                svg {
                    @include wh100;
                }
            }

            &-details {
                @include flex-center-column;
                gap: length(16);
                text-align: center;

                .successtitle {
                    color: $gray-700;

                    @include breakpoint(phone768) {
                        @include heading-2;
                    }

                    @include breakpoint(phone575) {
                        @include heading-3;
                    }
                }

                .textinfo {
                    max-width: length(545);

                    .successtext {
                        @include font-26-16-semibold;
                        color: $gray-600;

                        @include breakpoint(phone575) {
                            @include font-24-14-semibold;
                        }

                        .mail {
                            @include font-26-16-semibold;
                            color: $gray-800;

                            @include breakpoint(phone575) {
                                @include font-24-14-semibold;
                            }
                        }

                        .link {
                            @include font-26-16-semibold;
                            color: $tertiary;

                            @include breakpoint(phone575) {
                                @include font-24-14-semibold;
                            }
                        }
                    }
                }
            }
        }
    }
}

.appointModal {
    .modal-content {
        border: 0;
        @include radius(8);
        overflow: hidden;
    }

    .modal-body {
        padding: 0;
        @include w100;

        .appointinfo {
            background: url(../images/modal/modalbg.svg) no-repeat;
            padding: length(60) length(60) length(105);
            @include w100;
            @include flex-center-column;
            gap: length(48);

            @include breakpoint(phone768) {
                padding: length(24) length(20) length(64);
            }

            &-header {
                @include flex-center;
                @include w100;

                .icon {
                    @include square(length(140));
                    @include flex-center;
                    overflow: hidden;

                    @include breakpoint(tablet991) {
                        @include square(length(80));
                    }

                    svg {
                        @include wh100;
                    }
                }
            }

            &-body {
                @include w100;
                @include w100;
                @include flex-center-column;
                gap: length(40);
                text-align: center;

                .title {
                    @include display-3;
                    color: $gray-700;

                    @include breakpoint(tablet991) {
                        @include heading-2;
                    }

                    @include breakpoint(phone768) {
                        @include heading-3;
                    }
                }

                .appointbuttons {
                    @include flex-center;
                    flex-wrap: wrap;
                    gap: length(24);
                    @include w100;

                    .btn-square {
                        width: calc((100% / 4) - 1.5rem);

                        @include breakpoint(tablet991) {
                            width: calc((100% / 2) - 1.5rem);
                        }

                        @include breakpoint(phone768) {
                            @include w100;
                        }
                    }
                }

                .assesmentbuttons {
                    @include breakpoint(tablet991) {
                        justify-content: flex-start;
                    }

                    .btn-square {
                        width: calc((100% / 3) - 1.5rem);

                        @include breakpoint(desktop1199) {
                            width: calc((100% / 2) - 1rem);
                        }

                        @include breakpoint(tablet991) {
                            @include w100;
                        }
                    }
                }
            }
        }
    }
}

.prescriptionmodal {
    .modal-content {
        @include radius(0);
    }
}

.sessionModal {
    .modal-content {
        border: 0;
        @include radius(8);
    }

    .modal-header {
        position: relative;
        margin: 0;
        padding: 0;
        border-radius: 0;

        .btn-close {
            position: absolute;
            @include square(length(60));
            @include circle;
            background: $white;
            box-shadow: $modalBtnShadow;
            top: 0;
            right: length(-76);
            z-index: 810;

            @include breakpoint(phone768) {
                @include square(length(40));
                padding: length(8);
                right: length(20);
                top: length(20);
            }

            svg {
                @include transitiontransform;

                path {
                    @include transitions;
                }
            }

            @include hover {
                svg {
                    @include transform(rotate(90deg));

                    path {
                        fill: red;
                    }
                }
            }
        }
    }
    
    .modal-body {
        @include flex-center;
    }
}