.offcanvas-end {
    border-left: 0;
}

.offcanvas-start {
    border-right: 0;
}

.offcanvas {
    width: length(320);

    &-header {
        padding: length(16) length(24);

        .btn-close {
            @include square(length(24));
            background: transparent;
            margin: 0;
            padding: 0;
            @include flex-center;
            opacity: 1;

            svg {
                @include transitions;
            }

            &:focus {
                box-shadow: none;
                outline: none;
            }
        }
    }

    &-body {
        padding: length(24);

        &::-webkit-scrollbar {
            background: transparent;
            width: length(8);
        }

        &::-webkit-scrollbar-thumb {
            background: $primary;
            @include radius(8);
        }
    }
}