.preloader {
    background: $white;
    @include flex-center;
    position: fixed;
    top: length(0);
    left: length(0);
    @include w100;
    height: 100vh;
    overflow: hidden;
    z-index: 9999;

    &-spinner {
        width: length(200);
        height: length(100);
        @include flex-center;
        perspective: length(20);
        position: relative;

        .dot {
            position: absolute;
            top: length(0);
            left: length(0);
            @include square(length(10));
            @include circle;
        }

        .dot1 {
            background: $primary;
            animation: moveDot 2s ease infinite;
        }

        .dot2 {
            background: $secondary;
            animation: moveDot 2s 200ms ease infinite;
        }

        .dot3 {
            background: $tertiary;
            animation: moveDot 2s 400ms ease infinite;
        }
    }

    @keyframes moveDot {

        0%,
        100% {
            left: length(0);
            top: length(0);
        }

        30% {
            top: 100%;
            left: calc(50% - 0.625rem);
        }

        60% {
            top: length(0);
            left: calc(100% - 0.625rem);
        }
    }
}