// REGISTER BANNER SECTION START

.registerbanner {
    padding: length(76) length(0) length(68);

    &-content {
        @include flex-center-column;
        gap: length(24);
        text-align: center;

        .banner-title {
            @include heading-1;
            color: $gray-800;

            .colortext {
                color: $secondary;
            }

            @include breakpoint(phone768) {
                @include heading-2;
            }
        }

        .banner-text {
            @include font-30-18-normal;
            color: $gray-600;

            @include breakpoint(phone768) {
                @include font-26-16-normal;
            }
        }
    }
}

// REGISTER BANNER SECTION END

// REGISTER BOX START
.registerbox {
    &-content {
        padding: length(80) length(24) length(300);
        background: $white;
        @include flex-column;
        gap: length(100);

        @include breakpoint(tablet991) {
            gap: length(48);
            padding: length(80) length(24);
        }
    }

    &-header {
        .registerprogress {
            @include flex-center-vert;

            .progressinfo {
                width: 33.33%;
                @include flex-center-column;
                gap: length(24);
                text-align: center;
                cursor: pointer;

                &:first-of-type {
                    .progresscount {
                        &::before {
                            width: 0;
                            left: 0;
                        }
                    }
                }

                .progresscount {
                    background: $gray-600;
                    @include square(length(80));
                    @include flex-center;
                    @include circle;
                    position: relative;

                    @include breakpoint(phone768) {
                        @include square(length(60));
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        top: length(40);
                        left: -328.5%;
                        width: 328.5%;
                        z-index: 1;
                        height: length(5);
                        background: $gray-500;

                        @include breakpoint(desktop1400) {
                            width: 270%;
                            left: -270%;
                        }

                        @include breakpoint(desktop1199) {
                            width: 205%;
                            left: -205%;
                        }

                        @include breakpoint(tablet991) {
                            width: 180%;
                            left: -180%;
                        }

                        @include breakpoint(phone768) {
                            top: length(30);
                            width: 160%;
                            left: -160%;
                        }

                        @include breakpoint(phone575) {
                            width: 0;
                            left: 0;
                        }
                    }

                    .progresscounter {
                        @include square(length(60));
                        @include flex-center;
                        @include circle;
                        @include setBgColor($gray-800, $white);
                        @include font-30-18-bold;
                        text-align: center;

                        @include breakpoint(phone768) {
                            @include square(length(40));
                        }
                    }
                }

                &.active {
                    .progresscount {
                        background: $secondary;
                        filter: $activeshadow;

                        &::before {
                            background: $secondary;
                        }
                    }

                    .progresscounter {
                        @include setBgColor($primary, $white);
                    }

                    .progressdetail {
                        .progresstitle {
                            color: $secondary;
                        }
                    }
                }

                &.completed {
                    .progresscount {
                        filter: none;
                    }

                    .progressdetail {
                        .progresstitle {
                            color: $gray-800;
                        }
                    }
                }

                .progressdetail {
                    .progresstitle {
                        color: $gray-600;
                    }
                }
            }
        }
    }

    &-body {
        @include w100;

        .step1-info,
        .step2-info {
            .steponeform {
                @include flex-column;
                gap: length(32);
                
                @include breakpoint(tab991) {
                    gap: length(44);
                }

                .mobilecol {
                    margin-bottom: length(32);
                
                    @include breakpoint(tab991) {
                        margin-bottom: length(44);
                    }
                }

                .inputbox {
                    @include w100;
                    @include flex-column;
                    gap: length(8);

                    .inputlabel {
                        @include font-14-14-medium;
                        color: $dateColor;
                    }

                    .inputfield {
                        background: $white;
                        padding: length(14) length(16);
                        @include radius(6);
                        @include border(solid, 1, $gray-300);
                        @include font-14-14-normal;
                        color: $gray-800;
                    }

                    .selectfield {
                        background: $white url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_5998_44256' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='11' height='11'%3E%3Cpath d='M4.98252 7.65869L1.68511 3.89022C1.29615 3.4457 1.61184 2.75 2.20251 2.75H8.79733C9.388 2.75 9.70369 3.4457 9.31473 3.89022L6.01732 7.65869C5.74341 7.97173 5.25643 7.97173 4.98252 7.65869Z' fill='black'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_5998_44256)'%3E%3Crect width='11' height='11' fill='%23B5B5BD'/%3E%3C/g%3E%3C/svg%3E%0A") no-repeat center right 3%;
                        appearance: none;
                        @include border(solid, 1, $gray-300);
                        padding: length(14) length(16);
                        @include radius(6);
                        @include font-14-14-normal;
                        color: $gray-800;
                    }
                }

                .inputinfo {
                    @include flex-center-vert;
                    @include border(solid, 1, $gray-300);
                    padding: length(6);
                    @include radius(6);

                    .keepingbox {
                        width: calc(100% - 6rem);
                        padding: length(0) length(8);
                        color: $textPlaceholder;
                        @include font-15-15-medium;
                    }

                    .btn-upload {
                        background: $primary;
                        @include flex-center;
                        gap: length(6);
                        padding: length(8) length(16);
                        @include radius(4);
                        cursor: pointer;
                        width: length(96);
                        @include transitions;

                        .icon {
                            @include square(length(16));
                            @include flex-center;
                            overflow: hidden;

                            svg {
                                @include wh100;
                            }
                        }

                        .text {
                            @include font-12-12-semibold;
                            color: $white;
                        }

                        @include hover {
                            background: lighten($primary, 10%);
                        }
                    }
                }

                .submitbox {
                    @include flex-end;

                    .btn-submit {
                        @include flex-center;
                        gap: length(10);
                        width: length(200);
                        height: length(48);
                        @include radius(8);
                        background: $tertiary;

                        .text {
                            @include font-16-16-semibold;
                            color: $white;
                        }

                        .icon {
                            overflow: hidden;
                        }

                        @include hover {
                            background: darken($tertiary, 10%);
                        }
                    }
                }
            }
        }

        .step3info {
            @include flex-column;
            gap: length(32);
                
            @include breakpoint(tab991) {
                gap: length(44);
            }

            .step3-info {
                @include w100;
                @include border(solid, 1, $step-border);
                @include radius(12);
                padding: length(30) length(16) length(86);
                @include flex-center;

                @include breakpoint(phone768) {
                    padding: length(24) length(16) length(44);
                }

                .steponeform {
                    @include flex-column;
                    gap: length(32);
                        
                    @include breakpoint(tab991) {
                        gap: length(44);
                    }

                    .stepdetails {
                        width: length(430);
                        margin-inline: auto;
                        @include flex-column;
                        gap: length(24);

                        @include breakpoint(phone575) {
                            @include w100;
                        }

                        .selectfees {
                            &-title {
                                @include heading-2;
                                color: $gray-800;

                                @include breakpoint(phone575) {
                                    @include heading-3;
                                }
                            }
                        }

                        .tablefees {
                            @include border(solid, 1, $table-border);
                            @include radius(8);

                            &-header {
                                .tablerow {
                                    @include flex-center-vert;
                                    @include border-single(bottom, solid, 1, $table-border);

                                    .tablecol {
                                        width: 50%;
                                        padding: length(11);

                                        &:first-child {
                                            @include border-single(right, solid, 1, $table-border);
                                        }

                                        .table-heading {
                                            @include font-24-16-semibold;
                                            color: rgba($black, 0.5);

                                            @include breakpoint(phone575) {
                                                @include font-24-14-semibold;

                                                span {
                                                    display: none;
                                                }
                                            }

                                            @include breakpoint(phone500) {
                                                @include font-12-12-semibold;
                                            }
                                        }
                                    }
                                }
                            }

                            &-body {
                                .tablerow {
                                    @include flex-center-vert;
                                    @include border-single(bottom, solid, 1, $table-border);

                                    &:last-child {
                                        border: 0;
                                    }

                                    .tablecol {
                                        width: 50%;
                                        padding: length(11);

                                        &:first-child {
                                            @include border-single(right, solid, 1, $table-border);
                                        }

                                        .table-value {
                                            @include font-26-16-normal;
                                            color: $gray-600;
                                            font-feature-settings: 'salt';

                                            @include breakpoint(phone575) {
                                                @include font-24-14-normal;
                                            }
                                        }

                                        .value-price {
                                            @include flex-center;
                                            overflow: hidden;

                                            .priceinput {
                                                width: length(80);
                                                text-align: center;
                                                @include setBgColor(transparent, $gray-600);
                                                @include font-26-16-normal;
                                                font-feature-settings: 'salt';

                                                @include breakpoint(phone575) {
                                                    @include font-24-14-normal;
                                                }
                                            }

                                            .pricelabel {
                                                @include font-26-16-normal;
                                                color: $gray-600;
                                                font-feature-settings: 'salt';

                                                @include breakpoint(phone575) {
                                                    @include font-24-14-normal;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .submitbox {
                @include flex-end;

                .btn-submit {
                    @include flex-center;
                    gap: length(10);
                    width: length(200);
                    height: length(48);
                    @include radius(8);
                    background: $tertiary;

                    .text {
                        @include font-16-16-semibold;
                        color: $white;
                    }

                    .icon {
                        overflow: hidden;
                    }

                    @include hover {
                        background: darken($tertiary, 10%);
                    }
                }
            }
        }
    }
}

// REGISTER BOX END

.profileupload {
    padding-bottom: length(64);

    @include breakpoint(tab991) {
        padding-bottom: length(140);
    }

    &-content {
        @include flex-center-column;
        gap: length(20);
        text-align: center;

        .uploadbox {
            position: relative;
            padding: length(24);
            @include radius(8);
            background: $gray-300;

            .uploadthumbnail {
                @include square(length(259));
                @include flex-center;
                overflow: hidden;

                @include breakpoint(phone575) {
                    @include square(length(200));
                    margin-bottom: length(16);
                }

                img {
                    @include wh100;
                    object-fit: contain;
                }
            }

            @include breakpoint(tab991) {
                padding: length(58);
            }

            .uploadinfo {
                position: absolute;
                top: auto;
                right: length(-48);

                @include breakpoint(phone575) {
                    left: 50%;
                    right: auto;
                    @include transform(translateX(-50%));
                }

                .btn-upload {
                    background: $primary;
                    @include flex-center;
                    gap: length(6);
                    padding: length(8) length(16);
                    @include radius(4);
                    cursor: pointer;
                    width: length(96);
                    @include transitions;

                    .icon {
                        @include square(length(16));
                        @include flex-center;
                        overflow: hidden;

                        svg {
                            @include wh100;
                        }
                    }

                    .text {
                        @include font-12-12-semibold;
                        color: $white;
                    }

                    @include hover {
                        background: lighten($primary, 10%);
                    }
                }
            }
        }

        .upload-detail {
            margin-bottom: length(20);

            .upload-text {
                @include font-30-18-normal;
                color: $gray-600;

                @include breakpoint(phone575) {
                    @include font-26-16-normal;
                }
            }
        }

        .submitbox {
            @include flex-center;

            .btn-submit {
                padding: length(16) length(74);
                text-align: center;
                @include setBgColor($tertiary, $white);
                @include font-16-16-semibold;
                @include radius(8);
                @include transitions;

                @include hover {
                    background: darken($tertiary, 15%);
                }
            }
        }
    }
}