.owl-nav {
    margin: length(0) !important;
    @include w100;
    height: length(48);
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
    @include flex-center-between;
}

.owl-prev,
.owl-next {
    margin: length(0) !important;
    @include square(length(48));
    @include flex-center;
    overflow: hidden;

    &:hover {
        background: transparent !important;
    }
}

.owl-prev {
    margin-left: length(-48) !important;
}

.owl-next {
    margin-right: length(-48) !important;
}